[2013-09-26 20:28] mwetter opened #1 "Add test cases for OpenModelica and JModelica"
Add unit tests and scripts to test the examples with OpenModelica and JModelica.

These unit tests should either parse the script in `Resources/Scripts/Dymola`, or a new data structure should be set up so that unit tests can be configured once, and then generated for all simulators. The justification is that we want to avoid having multiple copies of all unit test scripts (now there are 100 .mos s

[2013-09-26 20:33] mwetter opened #2 "Revise Utilities.Functions"
Revise the package `Utilities.Functions` so that for each function, there is a corresponding block and vice versa.

[2013-09-26 20:35] mwetter opened #3 "Add examples and unit tests for all packages in Media"
Not all medium implementations contain examples and unit tests. These should be added to ensure code coverage.

[2013-09-27 02:17] mwetter opened #4 "update Fluid/Interfaces/{FourPort.mo, FourPortHeatMassExchanger.mo}"
Update `FourPort` from Buildings library to add missing `each` keyword, and update
`Interfaces.FourPortHeatMassExchanger` to remove non-required `sum` operator.

[2013-10-12 04:40] mwetter opened #5 "Update code to avoid events and fix incorrect Modelica syntax"
This issue avoids events at zero flow. It also fixes incorrect syntax that is detected by Dymola 2014 FD01 beta3 when checking models in the pedantic mode.

[2013-10-12 16:29] rubenbaetens opened #7 "Undeclared variable "Medium.Water""
Four errors are detected in `Annex60.Fluid.MassExchangers.ConstantEffectiveness` bij **Dymola 2014**, twice being

[2013-10-13 17:28] rubenbaetens opened #8 "Unused parameter "MixingVolume.m_flow_nominal""
From a **BaseClass**-perspective, it feels counterintuitive to define a `m_flow_nominal` in a `MixingVolume`

I can understand its existence (partially) from a component-perspective as the majority of components which use a `MixingVolume` have a nominal flow, and which can propagated by default. However, as a counterexample, a nominal flow will not be known explicitly when the `MixingVolume` is us

[2013-10-14 11:02] rubenbaetens opened #9 "Code duplication from Modelica Standard Library"
I noticed a large part of the code in `Annex60.Fluid.Sensors` and (to a less extent) in `Fluid.Sources` is a literal duplicate of code in `Modelica.Fluid` or an extension of it with (initial) algorithms and/or equations.

**Question** is, isn't it advantageous to define these as `extends Modelica.Fluid.Sensors.(#)` and only add the missing (initial) algorithms and/or equations if required instead

[2013-10-15 07:27] #7 closed, assigned to mwetter

[2013-10-17 14:48] #4 closed, assigned to mwetter

[2013-10-17 14:49] #5 closed, assigned to nobody

[2013-10-17 14:52] mwetter opened #11 "Test changing ``StateSelect.prefer`` to ``StateSelect.always``"
Test what the implications are of changing
`StateSelect.prefer` to `StateSelect.always`

The motivation is to be able to fix a state variable when pre-compiling models.

This test may be done using the `Buildings` library and running all example problems to evaluate the implications of this change.

[2013-10-17 14:53] mwetter opened #12 "Proposal for an alternate design for the fluid connector."
Christoph to develop proposal for an alternate design of the fluid connector.

[2013-10-30 21:37] mwetter opened #15 "Compare computing time between IDEAS and Annex 60 for boiler with pump"
The folder `IDEAS_a60` contains a comparison between a simplified boiler model from IDEAS and from Annex60.

The output of both models are similar (but not exactly the same, mainly due to the difference in the pump (IDEAS has no inertia) ).

[2013-10-31 23:05] mwetter opened #16 "Annex60.Fluid.MassExchangers.Examples.HumidifierPrescribed does not translate in OpenModelica"
The model `Annex60.Fluid.MassExchangers.Examples.HumidifierPrescribed` fails to translate in OpenModelica.

The problem seems to be caused by

[code]

if `Modelica.Media.Air.MoistAir` is used.
The function exists. If the function call is changed to `specificInternalEnergy_pTX`, then the model simulates. However, this is not a solution since `specificInternalEnergy_pTX` is only known in `Modelica.M

[2013-11-01 20:57] mwetter opened #17 "Different results for MoistAirEnthalpyFlowRate in Dymola vs. OpenModelica"
In `Annex60.Fluid.Sensors.Examples.MoistAirEnthalpyFlowRate`, the trajectories of `senHLat_flow.H_flow` vary significantly when simulated in Dymola versus Modelica.

![senhlat_flow](https://f.cloud.github.com/assets/1329080/1457043/1b7e4cc8-4338-11e3-8af2-6eb94b806ca8.png)

[2013-11-03 09:59] #15 closed, assigned to mwetter

[2013-11-05 05:29] mwetter opened #18 "Remove homotopy in sta*"
The variable `sta*`, e.g., in
https://github.com/iea-annex60/modelica-annex60/blob/master/Annex60/Fluid/Interfaces/PartialTwoPortInterface.mo#L30-L40
is a conditional variable. It can therefore only be used for reporting. Hence, the `homotopy` function can be removed. (Dymola 2014 FD01 will report an error such as

[code]

 if a model uses this variable, and the model is checked with `Advanced.Ped

[2013-11-12 21:29] mwetter opened #19 "Various code clean up"
The library needs various (small) code clean-up for the models to check successfully in pedantic mode.

[2013-11-19 19:04] mwetter opened #21 "Restructuring of Media"
The current implementation of `Annex60.Media` divides the media in how they are modeled (e.g., IdealGases) and then in the type of the media. This leads to the following abbreviated structure:

[code]

I suggest to reimplement this as

[code]

The rational is that users are looking for a medium, such as moist air, and then decide on what physics it need to capture. This renaming would also avoid t

[2013-11-21 14:22] rubenbaetens opened #23 "Unable to refer to UML-graph in Information"
It seems impossible for me to refer to the *.tif I made from the UML graph in Resources/Fluid. When i do this, Dymola crashes. Is tehre a maximum file size ?

[2013-11-21 14:45] #18 closed, assigned to nobody

[2013-11-21 17:21] #9 closed, assigned to mwetter

[2013-11-21 17:26] #11 closed, assigned to mwetter

[2013-11-22 07:48] #8 closed, assigned to nobody

[2013-11-22 08:04] #16 closed, assigned to mwetter

[2013-11-22 08:07] #19 closed, assigned to mwetter

[2013-11-22 17:37] #23 closed, assigned to rubenbaetens

[2013-12-23 18:36] mwetter opened #25 "Add glycol solutions"
Glycol and brine solutions should be added to `Annex60.Media`. As a basis, the file therPro.nmf should be used.

Before starting the implementation the following questions need to be answered.

1. Should cp really be a polynomial or can it be assumed to be constant in the fluid temperature? Using a non-constant value would complicate the implementation (and the overhead for the computations) consi

[2014-01-20 15:54] mwetter opened #27 "Implement a (partial) block for exporting .Fluid models as FMUs"
Conventions about the I/O of FMUs would facilitate sharing FMUs among co-simulators. This ticket will develop such conventions and an implementation.

We need to discuss again whether `h_outflow` should be replaced with `T_outflow`. If we use `h_outflow`, then FMUs have enthalpy as an input, and a master algorithm would need to know what model is used for the enthalpy in order to convert temperatu

[2014-01-24 17:55] mwetter opened #28 "Decide whether fluid connectors should contain T instead of h"
This ticket is to demonstrate and test a fluid connector that contains temperature instead of enthalpy in the connector.
The rational includes
1. It is for users more convenient to see temperature rather than enthalpy in a connector.
2. If models are shared as an FMU, then the FMU should have temperature rather than enthalpy in the FMI input/output. The reason is that enthalpy is a derived quantit

[2014-02-03 22:08] mwetter opened #30 "Remove Modelica.Fluid.System"
`Modelica.Fluid.System` is only used to set the default value for flow reversal, which in turn is used to set minimum and maximum attributes for `m_flow`.
`Modelica.Fluid.System` should be removed as it contains many parameters that are not needed by models of the `Annex60` library.

[2014-02-07 17:17] mwetter opened #31 "Review models to make sure there are no default start values used in any example"
The library should be reviewed, and the unit tests extended, to make sure that no example uses default start values.
This is also the policy of MSL, as different tools may make different assumptions about what default value to use as the start value, which can lead to different results among tools.

All examples in the library should be checked using OpenModelica +d=initialization flag.

[2014-02-11 14:11] marcusfuchs opened #32 "- no issue"
sorry, I was typing in the wrong window and this issue more or less created itself

[2014-02-11 14:11] #32 closed, assigned to nobody

[2014-02-12 04:48] mwetter opened #33 "HumidifierPrescribed accounts twice for latent heat gain"
This is to port the bug fix from https://github.com/lbl-srg/modelica-buildings/issues/197 to the `Annex60` library.

[2014-02-21 02:48] #12 closed, assigned to nobody

[2014-03-04 21:51] mwetter opened #39 "Make model of ideal heater and cooler with T and on/off as input signals"
A starting point may be `HeaterCoolerPrescribed`, but the dynamics would need to be disabled.
The current model `HeaterCoolerPrescribed` should be renamed to `HeaterCooler_u`, and the new model may be `HeaterCooler_T`.

[2014-03-05 10:26] damienpicard opened #40 "Problem with the non-linearity of the new Media"
I re-run the test where a simple hydraulic system (a pump, a boiler with on-off control, a heated pipe and so varying input) to compare IDEAS and IDEAS using annex 60 baseClasses (see issue #15 ).

After approximately 2*E+5 seconds, I get the error that Dymola cannot solve this non-linear problem. I don't have the problem if I run the previous Media implementation (ConstantPropertyLiquidWater, for

[2014-03-08 15:47] mwetter opened #42 "In expansion vessel, set reference pressure to a constant, and add models needed for benchmarks grund*"
Use a constant pressure rather than ideal gas.
This was decided at the Lund meeting.

[2014-03-08 16:28] mwetter opened #43 "rst documentation of modelica models"
Make a prototype of a documentation in rst, stored in the `.mo` file, that is used to autogenerate the info section of the `.mo` file.

The documentation may be different for different user classes.

[2014-03-08 16:29] mwetter opened #44 "develop structure of the documentation"
Make a proposal of a structure of the required model documentation, e.g,, main assumptions, level of validation, how well the model is tested (maybe use a red/yellow/green rating).
Aachen is using a 5 star system.

[2014-03-09 08:47] #28 closed, assigned to mwetter

[2014-03-09 09:05] mwetter opened #45 "grundA and grundC test cases"
First, regularize equations so that they can be reimplemented in IDA and .mo code be regenerated.

Second, implement the same network with `Annex60` library.

[2014-03-09 12:46] mwetter opened #46 "Clarify in documentation that p in connector is total pressure."

[2014-03-09 13:42] #21 closed, assigned to mwetter

[2014-03-25 09:23] #33 closed, assigned to nobody

[2014-03-26 06:07] #17 closed, assigned to mwetter

[2014-04-02 17:05] mwetter opened #50 "Hydraulic test"
@damienpicard reports:
We are currently converting IDEAS to the annex60 baseClasses. Using one of our examples, I discovered some problems with the DynamicPipe or with pipes in general based on the fixedResistanceDpM connected to an Mixing Volume with a heat port:

I coupled a step input to a prescribedTemperature which I connected to the dynamic pipe. Dymola compiles but does not simulate (fail t

[2014-04-07 16:00] mwetter opened #51 "actuators package for grundA and grundC"
This branch contains the valve model that is needed for grundA and grundC.
The branch also contains other two and three way valves and air dampers that have been used in the Buildings library since a few years. These have been included as they are used during model testing and as they illustrate the design of the `Actuators` package.

Not included is `MixingBoxMinimumFlow` from the `Buildings` lib

[2014-04-07 22:24] #51 closed, assigned to mwetter

[2014-04-15 15:29] #42 closed, assigned to mwetter

[2014-04-15 18:22] mwetter opened #53 "Division by zero for junction with 3 flow paths"
Connecting three flow path, each with zero mass flow rate, gives a division by zero.
It appears that zero flow is not handled correctly in the stream connectors. See paragraph above (13) in Franke et al, 2009. The test model `Annex60.Fluid.FixedResistances.Examples.FixedResistances3Way` reproduces this problem, using only models from `Modelica.Fluid`.

R. Franke, F. Casella, M. Otter, M. Sielemann

[2014-04-17 09:35] marcusfuchs opened #54 "Specific heat capacity of Media.Water"
The specific heat capacity in water is given as  cp_const = 4148.

Likely, this is a typo and should be corrected to cp_const = 4184.

[2014-04-17 17:17] #54 closed, assigned to nobody

[2014-04-17 17:34] mwetter opened #56 "copy Movers from Buildings to Annex60"
Copy the package `Fluid.Movers` from the `Buildings` to the `Annex60` library.
This is required for the numerical benchmarks, and was agreed upon in the conference call on 4/16/14.

[2014-04-24 02:42] #1 closed, assigned to nobody

[2014-04-29 08:03] Mathadon opened #60 "Allowflowreversal in Annex60.Fluid.MixingVolumes.BaseClasses.PartialMixingVolume"
Hi,

Annex60.Fluid.MixingVolumes.BaseClasses.PartialMixingVolume contains the option for setting 'allowflowreversal' to false. However unless prescribedheatflowrate is set to true, the equations are not simplified (there remain ifs in the equations). I currently need such an implementation (without ifs) also when prescribedheatflowrate is false.

I see two options to do this:
1) add an 'allowflowr

[2014-04-29 08:51] #60 closed, assigned to nobody

[2014-04-29 23:00] mwetter opened #61 "Test and update library for Dymola 2015."
Run unit tests and update library as needed for Dymola 2015 pre-release.

[2014-05-08 15:16] #3 closed, assigned to nobody

[2014-05-08 17:16] mwetter opened #65 "small fixes needed to synchronize Annex60 with Buildings"
This ticket will address minor fixes to allow synchronizing the `Annex60` with the `Buildings` library.

[2014-05-09 20:29] mwetter opened #67 "Merge Radiators to Annex60 library"
@nytschgeusen uses the Radiator from the `Buildings` library in his benchmarks. This ticket is to merge them to the `Annex60` library so they can be further edited if needed as part of the benchmarks.

[2014-05-19 14:01] #56 closed, assigned to nobody

[2014-05-20 06:02] mwetter opened #70 "Add tolerance to experiment annotation"
If a `.mos` script has a tolerance setting, then this setting should be moved to the `.mo` model to make it available to all simulators. See also https://github.com/iea-annex60/modelica-annex60/commit/ad16ff686683295403a54c32b5d7f899d6d7c9d0#commitcomment-6379042

[2014-05-22 17:57] #65 closed, assigned to mwetter

[2014-05-28 14:38] mwetter opened #71 "clean up code with https://github.com/dietmarw/trimtrailingwhitespaces"
Run

[code]

to clean up the code.
Make sure that all steps are fully automated without human intervention so that the same command can be run on branches that need to be merged with the master. Otherwise, there likely will be many conflicts.

[2014-05-28 15:21] #67 closed, assigned to mwetter

[2014-05-28 16:32] mwetter opened #72 "Review Psychrometrics package"
Review the package https://github.com/iea-annex60/modelica-annex60/tree/master/Annex60/Utilities/Psychrometrics

[2014-05-29 20:58] mwetter opened #73 "Remove evaluate = true"
A user reports:
in some models of the buildings library, the parameters are fixed with the annotation "evaluate = true". Is it possible to change the annotation to "evaluate=false"? and how does the change impact the model?

For example in the "DryCoilCounterFlow"-model the parameter tau1 is set to "evaluate=true". But I can not oversee how a change to "false" impacts the model.

Some of these mod

[2014-06-19 14:32] damienpicard opened #75 "Extend function cubicHermiteLinearExtrapolation to also interpolate between vectors"
The function Annex60.Utilities.Math.Functions.cubicHermiteLinearExtrapolation can interpolate (with continuous derivative) between 2 points. It would be convenient to be able to interpolate between two vectors, as combiTable1Ds does. The problem of the latter is that the parameter 'table' can not be a variable.

So far, if you have a vector Real x[n] with corresponding values in a vector Real y[n]

[2014-06-21 22:11] #73 closed, assigned to mwetter

[2014-06-25 21:42] #70 closed, assigned to nobody

[2014-06-29 13:33] #61 closed, assigned to mwetter

[2014-06-30 20:09] #31 closed, assigned to nobody

[2014-07-10 05:07] mwetter opened #79 "Add a function to compute the md5 sum of a string"
This is required to cache pre-processing results for a borehole heat exchanger.

[2014-07-17 16:27] #75 closed, assigned to nobody

[2014-07-22 13:27] marcusfuchs opened #82 "Implement a scalable benchmark test for air flow networks"
The aim of this issue is to define a benchmark test for air flow networks. The benchmark should consist of a basic system which can be multiplied in order to make the test case scalable in problem size.
Outline:
- Define benchmark test case
- Implement test case in Modelica
- Analyze results
- Document test case and reference results

[2014-07-30 17:51] mwetter opened #83 "merge updates from Buildings to Annex60"
This ticket merges updates from the `Buildings` to the `Annex60` library.

[2014-07-31 09:00] #83 closed, assigned to mwetter

[2014-08-08 22:49] mwetter opened #87 "The valves do not translate with OpenModelica"
Translation of `Annex60.Fluid.Actuators.Valves.Examples.TwoWayValves` in OpenModelica leads to

[code]

[2014-08-11 15:26] #46 closed, assigned to mwetter

[2014-08-19 08:01] #87 closed, assigned to mwetter

[2014-08-19 18:50] #72 closed, assigned to nobody

[2014-08-30 05:01] #40 closed, assigned to nobody

[2014-08-30 05:22] mwetter opened #90 "Change water to use a constant density."
It looks like we want to give users the option to use `rho(T)`, but by default, we will use a constant density. I suggest to rename the current `Media.Water` to `Media.WaterDetailed` or `Media.WaterNonIsochoric` and replace `Media.Water` with `Modelica.Media.Water.ConstantPropertyLiquidWater` (and add the changes I did in `Modelica.Media.Water.ConstantPropertyLiquidWater`, except for the compressi

[2014-09-08 15:24] #50 closed, assigned to nobody

[2014-09-16 17:59] mwetter opened #93 "add script for benchmark statistics"
Add a script that runs a benchmark and extracts the following statistics:

Selected algorithm and tolerance. (Typically Radau with 1E-6.)

* Computation time
* Continuous time states: 6 scalars
* Time-varying variables: 75 scalars
* Sizes of linear systems of equations: { }
* Sizes after manipulation of the linear systems: { }
* Sizes of nonlinear systems of equations: {5, 15}
* Sizes after manipu

[2014-09-16 20:54] mwetter opened #94 "add ROM for building according to VDI 6007"
To use a thermal zone in examples, add a simple RC network model for an office building. This can then by used by ``Annex60.Fluid`` in the examples.

[2014-09-29 22:55] mwetter opened #95 "Alias set with different nominal values"
OpenModelica writes the warning

[code]

when simulating various models, including `Annex60.Fluid.MixingVolumes.Examples.MixingVolume`.
This can be avoided by setting the nominal attribute.

[2014-10-21 14:39] damienpicard opened #99 "Add a medium SimpleAir"
Similarly to #90 , it might be useful to add a medium `SimpleAir` as it is done in `Buildings.Media.GasesConstantDensity.SimpleAir`.

[2014-10-21 14:52] #90 closed, assigned to nobody

[2014-10-21 15:15] #95 closed, assigned to mwetter

[2014-10-21 15:18] #79 closed, assigned to nobody

[2014-10-21 20:07] Mathadon opened #102 "Add thermal mass correction/adaption factor in mixing volumes"
When coupling a heatCapacitor with a mixing volume DAE reduction is performed by using the derivatives. It seems that this reduction also causes second derivatives to be needed later on. In order to avoid this it would be useful to have a 'correction' factor for the thermal mass in a mixing volume. This issue proposes an implementation where this factor is added as a parameter.

[2014-10-22 05:27] #30 closed, assigned to mwetter

[2014-10-28 11:07] nytschgeusen opened #108 "Adaption of the user´s guide to the content of the Annex 60 library"
Michael, it would be great if you can adapt the content of the user´s guide on the top level of the library (see `Annex60.UsersGuide`) to the library structure of the Annex 60 library. At the moment the library structure of the Buildings library is still displayed.

[2014-10-29 18:24] #108 closed, assigned to nobody

[2014-10-29 23:05] #102 closed, assigned to nobody

[2014-10-30 14:37] Mathadon opened #111 "Merge script error?"
Hi Michael,

I reran the merge script to merge Annex60 into IDEAS. There seems to be an issue with the media. While Annex60 contains multiple water media, in IDEAS we only get `IDEAS.Media.Water`.  Do you know what causes this? The merged result is on our 'Annex60' branch.

thanks!

[2014-10-30 18:16] mwetter opened #114 "Correct malformed html"
The following files have malformed html:

[code]

[2014-10-30 18:34] #114 closed, assigned to mwetter

[2014-10-30 18:40] #71 closed, assigned to mwetter

[2014-10-30 21:55] #111 closed, assigned to nobody

[2014-10-31 10:07] thorade opened #116 "Pedantic Modelica"
When checking the code with Dymola 2015 in pedantic mode (i.e. with flag `Advanced.PedanticModelica=true`) there are some errors.
This is issue can be used to collect fixes for these errors.

[2014-11-03 21:20] #27 closed, assigned to mwetter

[2014-11-05 10:16] thorade opened #120 "make HTML documentation available for browsing"
The HTML documentation inside the library can be made available for browsing. OpenModelica does this for a couple of libraries, also for the Annex60 library:
https://build.openmodelica.org/Documentation/Annex60.html
Maybe it would be good to also host those HTML pages either on
http://www.iea-annex60.org/
or on the github pages using the gh-pages branch:
https://help.github.com/categories/github-p

[2014-11-13 13:31] rubenbaetens opened #122 "BS2015 paper on OpenIDEAS"

[2014-11-13 13:31] #122 closed, assigned to nobody

[2014-11-13 18:08] mwetter opened #123 "Attempting to redeclare record ThermodynamicState when the original was not replaceable"
The following error occurs in Dymola 2015 when the model is simulated with
`Advanced.PedanticModelica:=true;`:

[code]

[2014-11-13 23:22] mwetter opened #124 "BaseProperties compute phi which is often not needed"
The `BaseProperties` of air is computing `phi` which is often not required.
This adds overhead that is not needed.

This ticket is also related to https://github.com/lbl-srg/modelica-buildings/issues/314

[2014-11-18 11:56] damienpicard opened #126 "add a thermostatic three way valve"

[2014-11-18 15:47] mwetter opened #128 "Nonliteral value in nominal attribute in radiator example"
The following check gives a non-literal value:
[code]

[2014-11-18 16:24] #124 closed, assigned to mwetter

[2014-11-18 16:27] #44 closed, assigned to nobody

[2014-11-18 16:28] #39 closed, assigned to mwetter

[2014-11-19 02:52] #99 closed, assigned to nobody

[2014-11-20 20:04] mwetter opened #129 "FixedResistanceDpM revision"
This model needs two revision:
First, it uses `Fluid/BaseClasses/PartialResistance.mo` assigns `m_flow(start=0)` which is already assigned in its base class. This can be removed.

Second, `FixedResistances/FixedResistanceDpM.mo` uses
[code]
This should use `assert(..., ..., AssertionLevel.warning);`

[2014-11-21 08:51] rubenbaetens opened #130 "Adopting the Base Circuit Methodology (BCM) in A60"
Hi all,

After some discussions at **KU Leuven** on work of fellow-researchers on the upscaling modelling to bigger systems, we would like to propose to adopt or include the **Base Circuit Methodology** (BCM) in the Annex60 library.

What is it about:

While modelling systems, it is common practice to consider the network as a connected system of hydronic components. As such, the system model is c

[2014-11-21 13:59] Mathadon opened #131 "Bug in mFactor implementation"
There is a bug in my implementation of the mFactor parameter in MixingVolumes. When having a variable moisture level the added 'mass' will react as if it also has a variable specific internal energy - which should in my opinion not be the case. Instead it should have a constant specific heat. I will propose a fix for this.

[2014-11-21 15:17] Mathadon opened #132 "m_flow_small final in PartialResistance.mo"
m_flow_small is a 'final' parameter in PartialResistance.mo However I would like to relax this default value a bit for getting allowFlowReversal=false to work. This is not possible since the parameter is final. I propose to remove this. I'll make a pull request.

[2014-11-24 15:06] carlesRT opened #135 "factor fraRad is in reverse in model RadiatorEN442_2 ?"
Results are misleading when using TAir_nominal different than TRad_nominal.
I will send you pull request later.

[2014-11-24 15:35] carlesRT opened #137 "Minor mistakes in RadiatorEN442_2 (partial path and annotation)"
1- The model PartialTwoPortInterface is extended using a partial path. Do we want to change it and use a complete path?

2-  QRad[nEle] has as annotation "Convective heat flow rate". Do we want to correct annotations of protected parameters or variable?

[2014-11-25 10:53] #132 closed, assigned to nobody

[2014-11-25 16:58] #137 closed, assigned to nobody

[2014-11-25 16:59] #135 closed, assigned to nobody

[2014-11-27 10:30] Mathadon opened #138 "Merge script not moving renamed files?"
We now have separate packages for `Examples` and `Validations`. Since some examples were moved from one package to the other some files were renamed in git. However the merge script does not take this into account and it copies the new files (and their .mos files) to the new location without removing the old files. Consequently I now have two times the same model and unit test, resulting in an err

[2014-11-29 16:52] thorade opened #139 "Style guide on package.order"
The MSL and some other libraries put the Examples to the top of a package, annex60 and Buildings put the Examples to the bottom. The style guide does currently not define where to put the `UsersGuide`, `Examples`, `Interfaces` and `Types`.

[2014-11-29 17:34] #116 closed, assigned to nobody

[2014-12-01 10:08] thorade opened #140 ".gitignore"
I will send a pull request to add a minimlaistic `.gitignore` file, so that Dymola log and temp files will not be under version control. OpenModelica log and temp files should be added later.
If there was a reason to not have a `.gitignore` file feel free to ignore the pull request.

[2014-12-01 22:57] #140 closed, assigned to nobody

[2014-12-04 00:22] #53 closed, assigned to mwetter

[2014-12-04 00:24] #138 closed, assigned to nobody

[2014-12-08 15:28] #123 closed, assigned to nobody

[2014-12-08 16:24] #120 closed, assigned to nobody

[2014-12-09 09:05] #139 closed, assigned to nobody

[2014-12-13 07:29] mwetter opened #143 "defaultComponentPrefixes missing for data"
Add
[code]
to valve records.
See also https://github.com/lbl-srg/modelica-buildings/issues/323

[2015-01-06 13:26] damienpicard commented on #129
Issue129 resistance has been merged.

[2015-01-06 13:26] #129 closed

[2015-01-09 16:58] mwetter opened #147 "Revise Movers package so that the models take data records."
This integrates https://github.com/lbl-srg/modelica-buildings/issues/209 which was implemented by @Mathadon and myself.

It allows data records to be used for the performance data.

[2015-01-09 19:12] mwetter opened #148 "basicFlowFunction_dp has two revision sections"
Correct this syntax error.

[2015-01-12 12:02] thorade commented on #148
Please also fix multiple revisions in `Annex60.Fluid.BaseClasses.PartialResistance`

[2015-01-12 15:20] #143 closed

[2015-01-13 10:15] marcusfuchs opened #150 "Move Buildings.BoundaryConditions to Annex60"
This is needed for the Air Flow Benchmark

[2015-01-13 11:38] #148 closed

[2015-01-16 09:08] Mathadon opened #152 "Derivatives of smoothMax, smoothMin, smoothLimit"
I have made an implementation of the derivatives of function smoothMin, smoothMax and smoothLimit. There is however some numerical issue that I would like to discuss. I will first make a new branch.

[2015-01-16 09:36] Mathadon commented on #152
The commit can be found on https://github.com/Mathadon/modelica-annex60/tree/issue152_derMaxMinLimit

I have added two models to validate the derivative implementation:
```Annex60.Utilities.Math.Examples.SmoothMax```
and
```Annex60.Utilities.Math.Examples.SmoothLimit```

I first calculate the derivative of the output of the ```SmoothMax``` or ```Limit``` blocks using ```der()```. I then integrate

[2015-01-16 15:09] mwetter commented on #131
Merged to master.

[2015-01-16 15:09] #131 closed

[2015-01-20 18:57] mwetter commented on #150
@marcusfuchs : You should be able to merge the branch `issue150_boundaryConditions` into your branch for the numerical experiments.

I did not yet issue a pull request as the following items should be discussed with the team prior to merging it to the master (and the code needs to be reviewed as usual):

The following new packages had to be added, but this could be refactored if the team sees any

[2015-01-25 00:35] mwetter commented on #152
If it works with a different solver, then I think it is an error in Dymola, but I am surprised that such simple a model does not work. Did you contact Dassault?

I am also wondering why you need to provide derivatives. A tool should be able to automatically differentiate these functions. If Dymola does not differentiate these functions, did you try to add the `smoothOrder` annotation? In the `Buil

[2015-01-25 10:02] Mathadon commented on #152
I thought that Dymola cannot differentiate algorithm sections, and since functions contain algorithms that you had to provide these derivatives.

If I remove ```derivative=Annex60.Utilities.Math.Functions.BaseClasses.der_smoothLimit,``` then I get an error when running the example:
[code]
so I figured I need to add the derivative

However adding ```smoothOrder=1``` does indeed work, without deriva

[2015-01-27 02:52] mwetter commented on #152
@Mathadon : Yes, I suggest you revert `der_smoothLimit` and add `smoothOrder=1` to these functions. Please also include it to `smoothMin` and `smoothMax` if they don't have it already.

[2015-01-28 01:46] mwetter opened #154 "PartialDamperExponential, set Evaluate=true for use_constant_density"
In <code>Fluid/Actuators/BaseClasses/PartialDamperExponential.mo</code>,
set <code>Evaluate=true</code> for <code>use_constant_density</code>.
This is a structural parameter. Adding this annotation leads to fewer
numerical Jacobians for
<code>Buildings.Examples.VAVReheat.ClosedLoop</code>
with
<code>Buildings.Media.PerfectGases.MoistAirUnsaturated</code>.

[2015-01-28 09:54] #154 closed

[2015-01-29 16:24] Mathadon opened #156 "Pressure-independent valve model"
The Annex60/Building library does not seem to contain a model for a pressure-independent valve (example: http://www.belimo.ch/pdf/e/r2p_2_e.pdf). These valves supply a desired mass flow rate regardless of the supplied pressure (as long as the pressure is high enough).
I intend to make such a model. Is this something that I should make a pull request for?

[2015-01-29 16:42] mwetter commented on #156
This would be useful. Similar components also exist for air dampers.
I created a new branch `issue156_pressureIndValve`, please add the model, unit tests and reference result onto that branch (or a pull request for this branch).

[2015-02-03 20:55] mwetter opened #159 "inverse annotation for Media"
@Mathadon reports:

Consider the simple example model:
[code]

this model generates a non-linear system:
[code]
This system can be avoided by declaring the inverse of function ```h_pTX``` in its definition.

I'll make a pull request that implements this change.

[2015-02-03 20:57] mwetter commented on #159
This should be corrected on `Annex60.Experimental.Media.AirPTDecoupled` which is a revision of `Buildings.Media.GasesPTDecoupled.MoistAirUnsaturated`.
I made a development branch `issue159_inverseMedia`

[2015-02-04 00:03] mwetter opened #160 "remove stateSelect.prefer for T"
This change is to test the computing time without the annotation
[code]
@Mathadon reports that this gives smaller equations and faster computing time for
`Buildings.Examples.VAVReheat`.

[2015-02-05 11:27] Mathadon commented on #152
The 'Dassl bug' goes away if you increase the tolerance to e-12. I also added ```smoothOrder``` for ```smoothHeaviside``` and ```inverseXRegularized```.

[2015-02-05 22:50] mwetter commented on #160
Removing `stateSelect.prefer` for `T` gives slightly faster simulation.

[2015-02-05 22:53] mwetter opened #163 "change initialize_p from parameter to a constant"
`initialize_p` is only required in finite volume models
of heat exchangers (to avoid consistent but redundant initial conditions)
and hence it should be set as a <code>constant</code>.
Also, its result should be hidden using `annotation(HideResult=true)` as users are not interested in this result.

[2015-02-06 08:41] Mathadon commented on #160
Another illustration of the effect of StateSelect:
If you run ```Buildings.Fluid.Storage.Examples.Stratified``` and enable ```Output information when differentiating for state reduction``` you get:
[code]

These differentiations disappear when using ```StateSelect.default``` for ```T``` and ```preferredMediumStates = false``` in ```ConservationEquation(medium)```. The model seems to become margina

[2015-02-06 13:30] marcusfuchs commented on #82
I pushed further commits that implement a first working version of an air flow benchmark in Experimental.Benchmarks.AirFlow.MultipleFloorsVectors that also take the wind pressure from the outside into account. I am looking forward to discuss the next steps on the upcoming conference call.

[2015-02-06 22:15] mwetter commented on #160
@Mathadon : I run a few more tests and think that we should indeed remove stateSelect.prefer for T as it leads to smaller models.
In my tests, I was interested to see what the estimated operation count is that Dymola computes. I chose for sequential execution, as the parallel execution depends on the number of cores, and probably does not give much more insight.

I compiled the big models of the `

[2015-02-09 08:13] thorade opened #166 "HTML warnings"
BuildingsPy does not find all HTML errors (see https://github.com/lbl-srg/BuildingsPy/issues/52 ).
Some tags are not closed, I will send a Pull Request later today.

[2015-02-09 08:27] thorade commented on #166
To find more warnings / errors, use HTML export and open the resulting HTML file with another validator.
I used  [Atom.io](https://atom.io/) with [Linter](https://atom.io/packages/linter) and [htmlhint](https://atom.io/packages/linter-htmlhint).

The following table gives some more advice:

| Never use | Always use | Comment|
|:---------:|:---------:|:---------:|
|     `<br>`       |     `<br/>`

[2015-02-09 12:01] thorade commented on #166
Note: When generating one HTML file per class, Dymola breaks the links.
I have sent an email to Dymola support.

[2015-02-09 16:31] mwetter commented on #160
Change accepted, process pull request.

[2015-02-09 17:52] #160 closed

[2015-02-11 10:04] #163 closed

[2015-02-16 08:48] Mathadon opened #169 "smoothMin does not respect minimum"
The following example shows that `smoothMin` (and `smoothMax`, `smoothLimit`) need not respect that the output should be the minimum of the two inputs. Furthermore a local maximum exists.

[code]

![screen shot 2015-02-16 at 09 25 43](https://cloud.githubusercontent.com/assets/5970879/6208751/cfef4fb0-b5bd-11e4-97f2-c969a3e0ce56.png)

The problem is that when `u1 == u2` then `y = (u1 + u2)/2`. Hen

[2015-02-16 08:49] Mathadon commented on #152
This has been merged

[2015-02-16 08:49] #152 closed

[2015-02-16 08:58] Mathadon commented on #156
The current implementation of the valve has bad numerics since multiple solution to the flow problem may exist. This is because the used ```spliceFunction``` generates a local maximum in the curve. I think I fixed the problem by just using a regular ```min``` function. However this implementation is not very smooth. Do you think this approach is ok? Otherwise we could create a custom polynomial tr

[2015-02-16 12:25] Mathadon opened #170 "SteadyState massDynamics in ConservationEquation"
```ConservationEquation``` contains:

[code]
This is however not sufficient to guarantee that ```der(m) = 0``` since ```m = rho * V``` and often ```rho = f(p)```. The result is that variations in pressure can lead to variations in ```m```. An illustration:

![screen shot 2015-02-16 at 12 24 33](https://cloud.githubusercontent.com/assets/5970879/6211098/cb8fefce-b5d6-11e4-94a6-20c131b5b7a5.png)

![

[2015-02-16 13:06] Mathadon commented on #170
The code is on https://github.com/Mathadon/modelica-annex60/tree/issue170_massDynamics
different results were generated by ```Annex60.Fluid.MassExchangers.Examples.Humidifier_u``` but I find it difficult to assess their correctness. I hope you can have a  look at it and update the results?

[2015-02-23 00:33] mwetter commented on #169
I suggest you update the documentation.
A have not yet found a reliable way to avoid this undershoot or overshoot. We typically address this in a form such as in http://simulationresearch.lbl.gov/modelica/releases/latest/help/Buildings_BoundaryConditions_WeatherData_BaseClasses.html#Buildings.BoundaryConditions.WeatherData.BaseClasses.CheckRadiation (see parameter `HMin`.

[2015-02-23 00:42] mwetter commented on #156
I suggest to use a polynomial unless you can proof formally (not by simulation) that offsetting the splice function always works for any values of dp, dp_min, deltax and dp_nominal_pos.

You can construct a polynomial by assuming a form such as `y = a + b*x + c*x^2 + d*x^3`. (or maybe `y = a + b*x^2 + c*x^4 + d * x^6`.
Then, impose that at two points near the non-differentiability, the polynomial

[2015-02-23 09:23] Mathadon commented on #156
The problem is that the polynomial is a function of ```dp_min``` and ```m_flow_set``` so coefficients a, b, c, d cannot be constant unless ```x``` and ```y``` are somehow made dimensionless. I looked into it earlier but I did not find a proper solution.
I'll need to look into this again later.

[2015-03-04 12:55] mlauster commented on #94
Christoph Nytsch-Geusen proposed another LOM in
https://github.com/nytschgeusen/modelica-annex60/tree/exp_lowOrderBuildingModel/Annex60/Experimental/Benchmarks/CentralHeatingSystem/BaseClasses.
I will name it 4thOrder in the next sections.

The model already integrated in
https://github.com/iea-annex60/modelica-annex60/tree/issue94_thermalZone
is named 3rdOrder.

Major differences I discovered:
-

[2015-03-05 10:35] Mathadon commented on #170
@mwetter have you had a chance to look at this?

[2015-03-06 07:02] mwetter commented on #170
The example model that you provide does indeed change the mass (prior to your change) while `vol.dynBal.mb_flow=0` (and `mb_flow = sum(ports.m_flow)`), hence mass is created. This is because `fluidVolume` is constant but `medium.d` changes with pressure. Hence, `m` changes. However, `mb_flow=0` and therefore mass is created/destroyed as it cannot enter into the control volume through the fluid por

[2015-03-06 07:38] #147 closed

[2015-03-06 15:28] marcusfuchs commented on #170
I agree with this change. This is an interesting effect, thanks @Mathadon for pointing that out.

[2015-03-06 16:29] mlauster commented on #170
I'm also fine with it. The new results look like what user will expect when they choose steady state mass dynamics.

[2015-03-06 20:46] mwetter commented on #170
This is now on the `master`.
@Mathadon : it would be good if you can implement a unit test that produces the correct results, but produced the wrong result prior to this change. This way, we can ensure that we never revert the change without noticing.
Currently, none of the unit tests produced different results, also not in the `Buildings` library.

[2015-03-06 21:27] mwetter opened #175 "Merge simplified media from Buildings to Annex60"
This issue is to merge the simplified media from the `Buildings` to the `Annex60` library.

[2015-03-06 22:48] Mathadon commented on #170
I’ll do my best to addres this.

[2015-03-06 23:07] mwetter commented on #175
Refactored media using the following script and the `master` branch of the `Buildings` library:

https://gist.github.com/mwetter/94c512c087c362ad6500

[2015-03-06 23:23] mwetter opened #177 "Performance record of Fluid.Movers.SpeedControlled_Nrpm is not replaceable"
All movers have replaceable performance records, except this one.
This issue will also make the performance records replaceable for `Fluid.Movers.SpeedControlled_Nrpm`.

[2015-03-07 17:50] #177 closed

[2015-03-10 01:04] #170 closed

[2015-03-10 08:59] damienpicard commented on #94
@marcusfuchs @mlauster Sorry, I forgot to write the feedback of Glenn:

. Can you define asymmetrical resistances and capacities for the walls? This is important as you do not excite the whole wall capacity by small temperature variations
. Multiple outside wall is pratical, as a roof and a wall have very different U-values and capacities.
. Integrating a floor heating would require more capacitie

[2015-03-10 23:42] mwetter opened #180 "Update style guide"
Update the style guide based on the feedback from UdK Berlin.

[2015-03-11 11:28] #166 closed

[2015-03-11 15:50] mwetter commented on #159
This is fixed in #176

[2015-03-11 15:50] #159 closed

[2015-03-11 15:52] mwetter commented on #150
Leuven and Aachen agrees to move it to the master.
Need to check with @thorade whether Berlin agrees with this merge.

[2015-03-12 13:30] thorade commented on #150
After discussion with @nytschgeusen we have no objections to an `Annex60.Utilities.Time` block.
The two enumerations `Azimuth` and `Tilt` also look useful, but we see the need for further discussion regarding the path: We already have some heat transfer stuff in our library and do not want to introduce another `HeatTransfer` package. Is storing these two enumerations elsewhere an option?  Would th

[2015-03-12 15:23] mlauster commented on #180
Has been done in #181

[2015-03-12 15:23] #180 closed

[2015-03-12 16:33] mwetter commented on #150
@thorade , @nytschgeusen : `Types.Azimuth` and `Types.Tilt` are used in the `Buildings` library in
[code]
Therefore, following our (not yet written up?) convention that `Types` should be at the top-level of all packages that contain classes that require these types, the correct location should be `Annex60.Types.Azimuth` and `Annex60.Types.Tilt`.
What do others (@mlauster, @marcusfuchs, @Mathadon e

[2015-03-12 16:44] Mathadon commented on #150
I do not have a strong opinion on where ```Types``` should be stored but your suggestion sounds logical so that's great for me!

[2015-03-12 16:59] marcusfuchs commented on #150
Same here: No strong opinion and openess to the given logic.

[2015-03-12 21:21] mwetter commented on #169
This is now on the master

[2015-03-12 21:39] mwetter opened #185 "various code cleanup"
Some models contain dymola specific annotations that are not needed and also some fixme strings.

[2015-03-13 09:32] thorade commented on #40
Ran into the same problem today on Windows, the fix is more or less identical.
On Linux, the command for creating symlinks is `ln -s realfile symlink`,
on Windows the command is `mklink symlink realfile`.

For some reason I had to create a symlink for the `.lib` file, not for the `.a` file.
The full command then reads:
`mklink "C:\Program Files (x86)\Dymola 2015 FD01\bin\lib\ModelicaStandardTables

[2015-03-16 12:57] thorade commented on #150
So it sums upt to introducing three new classes, in the following locations:
- `Annex60.Utilities.Time`
- `Annex60.Types.Azimuth`
- `Annex60.Types.Tilt`
That is fine for me, and I think also for @nytschgeusen

[2015-03-16 21:44] mwetter opened #187 "Fluid/Interfaces/Examples/Humidifier_u.mo fails in OpenModelica"
The model `Annex60.Fluid.Interfaces.Examples.Humidifier_u` fails in OpenModelica with the message:

[code]

The issue is that for the asserts, the variables `staA.T` and `staA.X[1]` (and the same for `B`) are accessed, but these are not always state variables, and OpenModelica therefore thinks they do not exist.

As a fix, `Annex60.Fluid.Interfaces.Examples.Humidifier_u.Humidifier` should be delet

[2015-03-16 22:23] mwetter opened #188 "Heater example does no longer work in OpenModelica with new medium"
The commit https://github.com/iea-annex60/modelica-annex60/commit/25376251ea98705b3b12fb4ba2e9d875c802e2a8
causes `Annex60.Fluid.HeatExchangers.Examples.Heater_T` to fail with
[code]

[2015-03-17 03:05] mwetter commented on #188
The case `Annex60.Fluid.HeatExchangers.Examples.AirHeater_u` still has an error in OpenModelica. The other three test cases with `T` as input signal, and with water instead of air, are working in OpenModelica.

The error message is
[code]
However, `medium.p` is 101325 Pa. It looks like OpenModelica fails to properly eliminate alias variables.

[2015-03-17 10:39] #185 closed

[2015-03-17 10:43] marcusfuchs commented on #175
This was merged in #176

[2015-03-17 10:43] #175 closed

[2015-03-18 12:41] #150 closed

[2015-03-19 22:30] mwetter opened #190 "Move Wilo pumps to their own package"
The pumps in `Fluid.Movers.Data.Pumps` should be moved to a new package `Fluid.Movers.Data.Wilo.Pumps`.
This will allow grouping pumps (and fans) by manufacturers.

[2015-03-21 04:32] mwetter opened #191 "Remove inline=false for Media functions"
I see no reason why they should not be inlined. For example, `Modelica.Media.SimpleAir.specificEnthalpy` has also no inline annotation.

[2015-03-21 05:06] mwetter opened #192 "Correct documentation of dp_nominal"
The documentation should be "Pressure drop", not "Pressure".

[2015-03-21 05:38] mwetter opened #193 "specificEntropy of Media.Air may be incorrect"
This is implemented as
[code]
It appears that the last term should be multiplied by `p/reference_p`.
See also the implementation in `Modelica.Media.Air.MoistAir`.

[2015-03-23 22:43] mwetter opened #196 "correct documentation"
The html syntax in the user guide of the pump is incorrect.

[2015-03-23 23:17] mwetter commented on #82
@marcusfuchs
In `Annex60.Airflow.Multizone.ZoneHallway`, you set the height of `col2` and `col3` to be equal to `heightRoom/2`.
For such large an opening, it is debatable what a good height would be, but in view of a finite difference discretization, I think `heightRoom/4` would be more appropriate. See the image of the side-view below which discretizes the room height into 4 compartments and adds

[2015-03-24 01:17] mwetter commented on #190
Run the following python commands:
[code]

[2015-03-24 14:28] thorade commented on #191
Maybe it was once `Inline=false, LateInline=true` as in some other Media functions and someone deleted the `LateInline` only?

[2015-03-24 14:52] mwetter commented on #191
@thorade : do you see any demonstratable benefit in using `Inline=false, LateInline=true` rather than no annotation at all?

[2015-03-24 15:32] thorade commented on #191
There can be a speed benefit when using BaseProperties that call a function that defines an annotation derivative (e.g. `Modelica.Media.Water.WaterIF97_base.BaseProperties` call `density_ph`, which then calls some function that calls `setState_ph`; during symbolic manipulation you want the function that defines the annotation derivative, but during simulation you want the inlined function that cal

[2015-03-24 15:38] marcusfuchs commented on #82
Thanks for you comments, I will address these in the coming days.

[2015-03-24 15:39] #196 closed

[2015-03-24 16:32] thorade opened #199 "Types Azimuth and Tilt"
Something went wrong and we now have
[Annex60.HeatTransfer.Types.Azimuth](https://github.com/iea-annex60/modelica-annex60/tree/master/Annex60/HeatTransfer/Types)
as well as
[Annex60.Types.Azimuth](https://github.com/iea-annex60/modelica-annex60/tree/master/Annex60/Types).

The first one should be removed.

[2015-03-24 16:49] thorade commented on #199
Until now, the second one is also not used -  is that true?

[2015-03-24 17:20] mwetter commented on #199
I will add `Types.Azimuth` to
`Annex60.BoundaryConditions.SolarGeometry.Examples.IncidenceAngle`

On Tue, Mar 24, 2015 at 9:49 AM, Matthis Thorade <notifications@github.com>
wrote:

[2015-03-24 17:29] #199 closed

[2015-03-24 21:59] #190 closed

[2015-03-25 11:33] #192 closed

[2015-03-25 11:35] #193 closed

[2015-03-27 02:37] #191 closed

[2015-03-27 02:41] mwetter opened #204 "add sky black body temperature as an optional parameter or input to weather data reader"
This issue will update the weather data reader. By default, the sky black body temperature is computed based on the weather data file. This issue will add the option to obtain that value from a parameter or an input signal. This is needed for example to bring a room model to steady-state, which otherwise is difficult because computing that quantity is quite involved, see https://github.com/iea-ann

[2015-03-27 04:08] mwetter opened #206 "overspecified initial conditions in examples with mixing volume"
The models
[code]
and
[code]
give the warnings below in Dymola 2015 FD01:

[code]
and
[code]

In Dymola 2016 beta 2, the model `MixingVolumeMassFlow` does not translate:
[code]
This can be fixed by adding a resistance.

[2015-03-27 15:58] mwetter opened #208 "Fluid.Types does not extend Modelica.Icons.TypesPackage"
The statement
[code]
need to be added to `Fluid.Types` for the icon to be inherited.

[2015-03-27 16:01] #206 closed

[2015-03-27 22:46] #208 closed

[2015-04-01 22:19] mwetter opened #210 "PrescribedOutletState always computes state_a and state_b"
This merges the fix from https://github.com/lbl-srg/modelica-buildings/issues/388

[2015-04-02 14:32] #210 closed

[2015-04-02 18:50] mwetter opened #212 "Apply ttws"
Run
[code]
again to clean up code. See also https://github.com/iea-annex60/modelica-annex60/issues/71

[2015-04-07 08:48] #212 closed

[2015-04-11 07:03] Mathadon opened #214 "massDynamics in Radiator"
The ```massDynamics``` parameter in the mixing volume in ```Annex60.Fluid.HeatExchangers.Radiators.RadiatorEN442_2``` is not propagated properly. I'll propose a fix.

[2015-04-13 10:29] Mathadon opened #216 "flow reversal simplification in conservationEquation"
When the flow never reverses (ie ```allowFlowReversal = false```) equations can be simplified. This is currently not being done for the enthalpy calculations in ```ConservationEquation``` since ```semiLinear()``` is not being used. See section 8.9.5 in Dymola User Manual Volume 2 for more information.

I'll propose a fix that changes the implementation, allowing such non-linear systems to be simpl

[2015-04-13 10:37] Mathadon commented on #216
Using this change I managed to decouple a non-linear system of:
[code]
into
[code]

[2015-04-13 13:53] Mathadon opened #218 "flow reversal in Annex60.Fluid.BaseClasses.PartialThreeWayResistance"
A parameter like ```allowFlowReversal``` currently does not exist for ```Annex60.Fluid.BaseClasses.PartialThreeWayResistance```. This option can be very useful for breaking algebraic loops. I'll propose an implementation that adds this.

[2015-04-13 16:02] mwetter commented on #214
This is now on the master

[2015-04-13 16:02] #214 closed

[2015-04-13 16:28] mwetter commented on #216
@Mathadon :

Did you check with the dynasim support why these simplifications are not also done if the `actualStream` operator is used? This would be more elegant to be handled by the symbolic processor.

Could you please also commit a small test case that illustrates the behavior? This way we can keep it with the regression tests.

Regardless, as the current Dymola version does not seem to handle

[2015-04-13 16:46] #218 closed

[2015-04-13 17:00] mwetter opened #220 "Correct wrong use of LinePattern.None"
Various examples in `Fluid.Actuators.Examples` use
[code]
This is rendered as a solid visible line in Dymola 2015 FD01, but in 2016 beta 3, it is a line that is not visible.
Such annotations should be changed to either remove the `pattern` attribute, or set it to
`pattern=LinePatter.Solid`.
Also, all other classes in the library should be inspected for these wrong declaration.

[2015-04-13 20:57] Mathadon commented on #216
Hi @mwetter

I checked with Claytex and they say (that the developers say) that it's only supported for semiLinear(), but that a flag may be added in the future for supporting this in other functions.

I can add an example but since the change does not affect numerical results it makes no sense to add a unit test per se.

I tried adding the same changes for the other stream properties, but this re

[2015-04-13 23:40] mwetter commented on #216
An example would be good. In the future, it may be worthwhile to expand the unit tests so that also the number of nonlinear/linear equations are recorded with the results.

Regarding `operator inStream is not supported` did you try to make a loop over `Medium.nXi`? It would be odd to having to mix `actualStream` and `semiLinear(... inStream(...` when both codes intend to do the same.

The paper ht

[2015-04-14 06:22] Mathadon commented on #216
Looping over nXi and nC works, thanks for the tip!

The paper you reference states:
[code]
I cannot find ```semiLinear``` being mentioned in the paper.

When looking at dsmodel.c for ```Annex60.Fluid.MixingVolumes.Examples.MixingVolumeHeatConduction``` with the original implementation I get:
[code]
and with the new:

[code]
so the implementation seems to be almost the same in c-code. I cannot see

[2015-04-14 16:12] #220 closed

[2015-04-14 22:54] mwetter commented on #216
I meant `actualStream`, not `semiLinear`, sorry for the confusion.

By model parameters not being valid I mean a combination of medium package and settings for the mass and energy balance. We can discuss your application offline (or at the Annex 60 meeting). I was even thinking about setting `final massDynamics=energyDynamics` (or removing the `massDynamics` parameter) so it would be interesting t

[2015-04-17 09:07] Mathadon commented on #216
I added an example in a new package. I did not add a unit test since the Newton solver in the model does not even converge.
I think the rest of this discussion can be continued later since it has a broader impact on design decisions of the library.

[2015-04-21 15:53] damienpicard opened #222 "Check JModelica compatibility"
Unit tests should be run with JModelica to check their compatibility.

[2015-04-21 15:58] damienpicard opened #223 "Make proposition to add heat pump model"
This issue can be use to discuss a general heat pump implementation.

[2015-04-21 16:13] damienpicard commented on #223
Special care should be spent to make to model compatible with the input data of Energy +

[2015-04-22 12:35] Mathadon opened #224 "Steady state "steBal" implementation of MixingVolume"
This issue is for handling a discussion we had with @damienpicard , etc, during the Galway meeting.

In ```PartialMixingVolume``` a parameter is defined:

[code]

When this is true then a different implementation of the mixing volume is used, although it is not clear to me why this is being done since the dynamic balance implementation is able to handle steady state equations as well.
What is the

[2015-04-24 12:28] Mathadon opened #225 "pressure state for incompressible media"
When using incompressible media derivatives of pressures are generated when ```massDynamics not = steadyState``` because of the ```stateSelect.prefer``` declaration. This causes additional derivatives to be computed since there is no real state for the pressure when the medium is incompressible.

I will do some tests to check if it's best to remove the stateSelect.prefer or to set it to the mixing

[2015-04-29 16:17] mwetter opened #226 "Fluid.Movers.FlowControlled_dp has wrong sign for dp_actual"
This component has connectors `dp_in` and `dp_actual`. It multiplies `dp_in` by a gain of `-1` before sending it to the filter and from there to `dp_actual`, or it sends it directly to `dp_actual`.

The gain should be moved to the input of `preSou` so that `dp_in` and `dp_actual` have the same sign. This also avoids a warning because both of these variables declare `min=0`. It also makes the model

[2015-04-29 16:19] Mathadon commented on #226
I think I addressed this in the pull request for the stage inputs for movers.

[2015-04-30 08:45] Mathadon opened #227 "Inlining (linear) functions of the media packages"
Consider the following example:

[code]
When using ```Annex60.Media.Water``` Dymola detects a linear system of equations but this can be solved analytically, resulting in:
[code]

However, when using ```Annex60.Media.Air``` we get:
[code]
Dsmodel.mof contains the following system:
[code]

the problem seems to be that there is a ```function``` in this algorithm: ```temperature_phX_Unique4``` due to

[2015-04-30 08:52] Mathadon commented on #224
Apparently ```steBal``` allows for a more efficient implementation since ```actualStream``` need not be used. This should be checked and documented. Also ```steBal``` could be integrated into ```dynBal``` to avoid code duplication.

[2015-04-30 17:14] mwetter commented on #227
@Mathadon
This is a good improvement. I verified that your solution works, made a branch (`issue227_inline`) and added `Inline=true` for `temperature_phX` and `specificEnthalpy_pTX`.
I am quite sure that there are other such cases. It would be good if you can look at the library and issue a pull request.

[2015-04-30 17:17] Mathadon commented on #227
I'll have a look at it, possibly after the BS2015 deadline.

[2015-05-01 20:57] mwetter commented on #227
@Mathadon :
I added `Inline=true` to all media functions.

[2015-05-01 21:13] mwetter commented on #226
@Mathadon I will fix it before addressing the other pull request and then resolve any potential conflicts as I need this model for Buildings 2.0.0 which is already a release candidate and hence I don't want to make too drastic changes at this point.

[2015-05-01 21:25] mwetter opened #230 "in MixingVolume, set Modelica.Blocks.Sources.Constant masExc(final k=0)"
Setting the `final` keyword causes Dymola to substitute the value of 0 during the symbolic processing. This gives slightly more efficient code in `dsmodel.mof` for `Annex60.Fluid.MixingVolumes.Examples.MixingVolumeMassFlow`.

As `masExc` is protected, this does not cause incompatibility with other models.

[2015-05-01 23:48] #230 closed

[2015-05-02 00:29] marcusfuchs opened #232 "TwoPortHeatMassExchanger documentation links to non-existent models"
The model Fluid.Interfaces.TwoPortHeatMassExchanger has a section in its documentation that tries to link to examples using this base class. For the heater and the humidifier, these seem to link to old versions with different model names. Also, there is a link to a boiler model that is not in Annex60. I will update the first two links and remove the boiler link.

[2015-05-04 14:28] Mathadon opened #234 "Wet vs dry air mass flow rate as fluid port variable"
Based on the following equation in ```ConservationEquation```:
[code]
variables ```m_flow``` in fluid ports describe the mass flow rate of the wet air. A different option would be to use the mass flow rate of dry air. This would make it easier to keep thermal, pressure and moisture calculations decoupled since the mass flow rate would no longer depend on the moisture level. This would require that

[2015-05-04 15:08] #226 closed

[2015-05-04 15:50] #232 closed

[2015-05-05 15:31] Mathadon opened #235 "Convert algorithm into equation in Annex60.BoundaryConditions.SkyTemperature.BlackBody"
```Annex60.BoundaryConditions.SkyTemperature.BlackBody``` contains an algorithm section while the same code could be written as an equation. This way no derivative or ```smoothOrder``` needs to be provided. I'll propose an implementation.

[2015-05-06 07:49] Mathadon commented on #138
I tried to merge again and there still seem to be issues caused by files not being removed. During latest merge not a single file was removed, leading to duplicate declarations of /Water and Water.mo, etc.
I am using buildingspy version 55527faf91eb931dc43fbf548d124add64922fa5

[2015-05-06 08:16] Mathadon commented on #138
It is caused by the following line of code:
[code]
my path is:
[code]
but ```roo``` returns ```/Users/werk/Documents/Software```.

I'm not sure what your intention was with that line of code but another solution may be:
[code]
this does work for me.

[2015-05-06 14:51] mwetter commented on #235
This is now on the master

[2015-05-06 14:51] #235 closed

[2015-05-06 15:25] #227 closed

[2015-05-06 15:29] mwetter commented on #234
Needs further analysis and prototype implementation.

It would also be good to know what mass flow rate is used in NMF, whether it is dry air or total mass of air.

[2015-05-06 15:32] mwetter commented on #224
Michael will add and revise documentation.

[2015-05-06 22:13] mwetter opened #237 "exporting HeaterCooler_u gives many direct dependencies between inputs and outputs"
This issue integrates the changes of
https://github.com/lbl-srg/modelica-buildings/issues/412

See https://github.com/lbl-srg/modelica-buildings/issues/412 for a description.

[2015-05-07 00:04] #237 closed

[2015-05-07 18:22] mwetter commented on #224
@Mathadon : This has been addressed in https://github.com/iea-annex60/modelica-annex60/pull/238
Please close this ticket if that addresses your concerns.

[2015-05-07 18:26] mwetter commented on #225
@Mathadon : I looked into that as on branch `issue_313` of the `Buildings` library, the command
[code]
fails with
[code]
Can you point to a test case where you see these additional derivatives? Simply setting
[code]
in `Media.Air` is not sufficient to make the translation succeed. Without having a test case, I don't quite understand your issue above.

[2015-05-08 07:45] Mathadon commented on #225
If you enable ```Output information when differentiating for index reduction``` you get:

[code]
The inlet pressure is identical to the pressure state value. A discontinuous change in inlet pressure would therefore lead to an infinite mass flow rate. For solving the problem correctly Dymola therefore requires the derivative of the inlet pressure to be known, since ```m_flow = f(der(m)) = f(der(p))

[2015-05-08 07:55] #224 closed

[2015-05-08 17:43] mwetter opened #239 "add translation statistics to reference results"
This ticket will add translation statistics to the reference results.
The statistics can be generated with `BuildingsPy` from
[code]
The statistics is added to catch model changes that can change the number and size of systems of linear and nonlinear equations and the number of state variables.

See also https://github.com/lbl-srg/BuildingsPy/pull/54

[2015-05-08 21:16] mwetter commented on #239
This change adds statistics to the reference results in the form
[code]

[2015-05-08 21:38] mwetter opened #241 "analyze computing speed"
This branch is for work with @Mathadon to analyze computing speed.
I used as the base branch `issue239_statistics` in order to keep track of the model statistics.

[2015-05-08 21:39] mwetter commented on #241
Created branch `issue241_speed`

[2015-05-14 23:33] marcusfuchs opened #243 "Include *.pyc in .gitignore"
I suggest to include *.pyc in the gitignore file so that compiled python code does not show up as change in git. Just a small change that may save a little time after running unit tests. I will address this right away

[2015-05-19 16:02] #243 closed

[2015-05-20 22:32] mwetter commented on #239
Closed issue as this is now on the master.

[2015-05-20 22:32] #239 closed

[2015-05-21 20:10] mwetter commented on #138
How does your merge script look like? Is it like
[code]
This script works for me from different directories. To produce the output below, I added
[code]

in merger.py, line 159
[code]

[2015-05-21 20:39] marcusfuchs opened #246 "Add Airflow package to Annex 60"
Picking up again on the airflow benchmark in #82, it seems to make most sense to add Buildings.Airflow to Annex 60 and then adjust the benchmark to use the up-to-date version of Annex60.Airflow. After including the package into Annex 60, I would merge that into the benchmark branch and finish the benchmark design.

@Mathadon and @thorade : Are there objections from your side to include Buildings.A

[2015-05-22 08:04] Mathadon opened #247 "Conservation of quantities"
We currently do not have (many) unit tests that check if ```MixingVolumes``` conserve mass and energy. I'll make some suggestions that we can have a look at.

[2015-05-22 08:42] Mathadon commented on #247
Can we have a look at
```Annex60.Fluid.MixingVolumes.Validation.TracesubstanceConservation```
and
```Annex60.Fluid.MixingVolumes.Validation.MoistureMixingConservation```
in https://github.com/Mathadon/modelica-annex60/tree/issue247_conservationTests

The first test fails because ```Annex60.Fluid.Sensors.TraceSubstancesTwoPort``` seems to contain a bug:
[code]
should be
[code]
After fixing this the

[2015-05-22 08:44] Mathadon commented on #247
I have not yet implemented the bug fixes so we can test this first and then decide on how to solve it.

[2015-05-22 08:59] Mathadon commented on #246
I have two remarks:
1) we'd have to review all code thoroughly but if you're up for that then that's ok for me ;)
2) It's not clear to me how important this inter-zonal air flow is and to what level it should be detailed. The current pressure-based approach can load to very demanding calculations. I'm wondering if it's not better to approach this thermally by defining some temperature-dependent re

[2015-05-22 09:04] Mathadon commented on #138
The problem is that my full IDEAS path is:
[code]
which contains 'IDEAS' twice. Python detects the first IDEAS and uses this to set up the path, while it should use the second.
My merger script is:
[code]

[2015-05-22 13:19] mwetter commented on #246
@Mathadon : Regarding 2, the dominant driving force for air exchange among room and between the room and the outside is typically wind pressure, flow imbalance and stack effects. These would not be captured by a temperature dependent resistance (if I understand your concept correctly). Also, we need to move air and not just sensible heat between zones in order to transport humidity and contaminant

[2015-05-22 13:29] Mathadon commented on #246
I agree that the temperature dependent resistance would not work. I have no further objections :)

[2015-05-22 21:37] mwetter commented on #225
It turns out that https://github.com/iea-annex60/modelica-annex60/commit/116194dddec58d1f5e94e646abcab8a72bf3ccb2 gives smaller systems of equations in some models of the Buildings library. For example,
for `Buildings.Examples.Tutorial.Boiler.System7`:
[code]
and computing time changed from about 10 to 9 seconds.

[2015-05-22 22:22] mwetter commented on #138
@Mathadon : can you try again with the master from https://github.com/lbl-srg/BuildingsPy.
The commit https://github.com/lbl-srg/BuildingsPy/commit/4d7887a89368afcdef7557c3c107ab0b376f755d
should fix this.

[2015-05-22 22:33] mwetter opened #249 "Annex60.Fluid.Sensors.TraceSubstancesTwoPort outputs wrong value if allowFlowReversal=false"
The assignment
[code]
needs to be changed to
[code]

[2015-05-26 15:21] thorade opened #252 "Types Azimuth and Tilt"
The comments for the two types Azimuth and Tilt say they are Enumerations, but they are not (they are packages with a list of constants). Should that be changed? Does one or the other solution have advantages?

Also see section 4.8.5 of the Modelica 3.3 Specification:
https://www.modelica.org/documents/ModelicaSpec33.pdf#page=50

[2015-05-26 15:36] mwetter commented on #247
@Mathadon
I slightly revised the models on `issue247_conservationTests` of the `Annex60` repository.
The test setups are good, but there also need to be tests that check the implementation of the dynamic balance.

Can you please implement how you think the mass balance should be treated, add `.mos` scripts for the new examples and clean up the examples (such as naming convention. expanding the dra

[2015-05-26 15:42] mwetter commented on #252
They should be constants as they provide values. Enumerations will be the wrong data type. Could you please update the docs?

[2015-05-26 15:46] thorade commented on #246
I do not know what is in that package. If you think it is a valuable addition for all libraries go ahead and add it. If it used for benchmarking only (and for nothing else) then we could discuss to move it to Experimental or to introduce a new package/directory Benchmark that is not merged into the inheriting libraries (like Obsolte and Experimental).

[2015-05-26 16:04] #249 closed

[2015-05-26 16:19] thorade opened #253 "Types as directory or .mo"
We want to start running the scripts for integrating Annex60 into BuildingSystems more frequently. In that context we are also trying to streamline the file/package structure of our library to the Annex60 structure.
In Annex60, there are currently two ways where Types are stored,
see `Annex60/Types/package.mo` versus `Annex60/Fluid/Types.mo`.
From the [Annex60 Style Guide](https://github.com/iea-a

[2015-05-26 16:30] mwetter commented on #253
`Annex60/Types/package.mo` is used because there are sub-packages with type
definitions. I think this is the preferred way, although as you point out,
in `Fluid/Types` all are in one file which will make it harder to merge.

There are different `Types` packages as `Fluid/Types` is only used in
`Fluid`, where as `Annex60/Types` is used in different packages of the
top-level package.

On Tue, May 26

[2015-05-27 15:57] Mathadon commented on #247
Working on it. Still need to add unit tests. Does it make sense to make an 'empty' unit test without plots? This would reduce overhead since we have already have ```assert``` statements that should verify the implementation.

[2015-05-27 16:20] mwetter commented on #247
Adding results in a plot is also instructive for a user (and I am not sure anymore if the regression tests will issue a warning if no results are compared).

[2015-05-28 07:43] Mathadon commented on #247
The proposed changes lead to a change in convention: ```m_flow``` becomes the mass flow rate of the dry air and ```Xi``` refers to this mass flow rate for determining the vapour mass: ```mXi = Xi*m_flow```. I think this change needs to be propagated in functions like ```Annex60.Utilities.Psychrometrics.Functions.phi_pTX``` as well, which contains:
[code]

Would the 'correct' implementation be:
[co

[2015-05-28 12:15] Mathadon commented on #247
The proposed changes lead to a change in convention: ```m_flow``` is the mass flow rate of the _dry_ air and ```Xi``` (=m_water/m_dry) refers to this mass flow rate for determining the vapour mass.  Furthermore ```Annex60.Fluid.Sensors.RelativeHumidity``` uses ```Xi``` as an input. This sensor contains following equation:
[code]
meaning that ```X_w``` in functions such as ```Annex60.Utilities.Psyc

[2015-05-28 13:24] damienpicard commented on #93
Is this already done? @mwetter mention in #241 the branch `issue239_statistics`. However, I did not find this branch.

[2015-05-28 13:43] Mathadon commented on #247
I have added and run unit tests. Many results change, as expected. For one example the number of systems also increased, which is unexpected. We should analyse whether the changed results make sense but maybe it's better if someone else first verifies my implementation changes.

A summary/motivation of the changes:
1) The way Modelica/Dymola handles mixing of fluid streams implies that ```m_flow``

[2015-05-28 14:55] Mathadon commented on #247
I just realised that we probably need to update ```Annex60.Media.Air.specificEnthalpy``` too, which should be changed from
[code]
into
[code]
we should analyse if this does not lead to more systems of non-linear equations.

[2015-05-28 15:16] mwetter commented on #126
Closed until work on implementation continues.

[2015-05-28 15:16] #126 closed

[2015-05-28 15:18] mwetter commented on #253
Closed since BuildingSystems updated its directory structure.

[2015-05-28 15:18] #253 closed

[2015-05-28 15:23] mwetter commented on #246
@marcusfuchs : OK to merge `Airflow` into separate branch, and then into master after it has been reviewed.

[2015-05-28 15:25] mwetter commented on #234
This is a dublicate of #247 and hence will be closed.

[2015-05-28 15:25] #234 closed

[2015-05-28 15:30] mwetter commented on #93
This is now on the master.

[2015-05-28 15:30] #93 closed

[2015-05-28 15:37] mwetter commented on #25
Closed until work on implementing glycol starts again.
Temperature dependent properties may not be needed if the constants T_ref are set in the media.

[2015-05-28 19:05] #246 closed

[2015-05-29 00:15] mwetter commented on #247
@Mathadon :
The changes you proposed are in my view confusing as now, the psychometric functions use capital `X` for mass per kg dry air, whereas in Modelica, `X` is mass per kg total air. See also `Annex60.UsersGuide`, in which the convention is that `X` is per kg total air, and `x` is per kg dry air. Using `X` as mass per kg dry air would lead to definitions in some parts of the library that are

[2015-05-29 14:53] Mathadon commented on #247
I looked into this further and I agree that we should probably stick with your implementation. Below is a more detailed analysis for future reference.

When considering the mixing of 2 fluid streams entering in ```port_a``` and 1 exiting stream we get the following Modelica code (if ```Advanced.InStreamRegularizationMode =0```, which avoids further clutter in the code).
[code]

This can be simplif

[2015-05-29 15:46] mwetter commented on #247
@Mathadon
Thanks for the explanation. So let's proceed with option 1. I can look into the reformulation of `port_b.Xi_outflow = (inStream(...` next week.

The rationale for making `approximateMoistureBalance` a constant was so that it does not show up in the GUI. I could go either way, but was selecting a parameter as I am not sure that changing it to `false` will be used by anyone other than deve

[2015-05-29 15:49] Mathadon commented on #247
okay! I made a pull request with a suggestion for the implementation of Xi_outflow in the meantime.

[2015-06-01 07:32] Mathadon commented on #225
This was fixed by #248

[2015-06-01 07:32] #225 closed

[2015-06-02 10:48] Mathadon commented on #138
It looks like it's fixed, thanks!

[2015-06-02 11:34] Mathadon opened #258 "Fixed mSenFac in FourPortHeatMassExchanger.mo"
```FourPortHeatMassExchanger.mo``` currently contains:
[code]

in the mixing volumes. I'd like to remove this since in some cases we'd like to use this parameter. For instance in the model of a heat pump if we want to artificially increase the time constant of the model.

I'll make a pull request.

[2015-06-02 12:32] Mathadon commented on #138
Oops, I was using the wrong version. I now get a new error:
[code]

[2015-06-02 17:27] mwetter commented on #258
Please go ahead and make the pull request without the final keyword, but
leave the default assignment of mSenFac=1.
This should also use Evaluate=true to avoid the overhead that is incurred
if mSenFac > 1.

On Tue, Jun 2, 2015 at 4:34 AM, Filip <notifications@github.com> wrote:

[2015-06-02 19:44] #258 closed

[2015-06-02 22:42] mwetter commented on #138
Can you try with BuildingsPy from the master on https://github.com/lbl-srg/BuildingsPy ?
You seem to be using an old release: `/Library/Python/2.7/site-packages/buildingspy-1.4.0-py2.7.egg`

[2015-06-03 05:58] Mathadon commented on #138
I think that's what I did:
[code]
I reran setup.py but I still get the same error.

[2015-06-04 03:32] mwetter commented on #138
Are you sure that `BuildingsPy` from the master is executed? Try
[code]
where `xxx` points to `BuildingsPy`. You can also try to add a print statement to the merge function to make sure you execute the version you think you do.

For me, merging to IDEAS works:
[code]

[2015-06-04 07:15] Mathadon commented on #138
That did not work.

I debugged the code. The problem seems to be that at the start of the file ```IDEAS/Fluid/HeatExchangers/GroundHeatExchangers/Borefield/MultipleBoreHoles.mo``` there were some weird characters before the actual text. I added a newline before the original first line of the file:
[code]
and added/changed following lines in ```refactor.py```
[code]
this resulted in the following o

[2015-06-05 09:25] Mathadon opened #260 "Removing Xi.stateSelect and preferredMediumStates from ConservationEquation"
Quite a few ```stateSelect``` modifiers have already been removed from ```ConservationEquation```. The current code is:
[code]
I propose to also set ```preferredMediumStates=false``` and to remove the ```stateSelect``` modifier for ```Xi```. I _believe_ this will result in better code in most of the cases. For instance ```Annex60.Fluid.MixingVolumes.Examples.MixingVolumeMoistAir``` contains 13 tim

[2015-06-05 12:32] thorade commented on #128
With `Advanced.PedanticModelica=true` the command `checkModel("Annex60.Fluid.HeatExchangers.Radiators.Examples.RadiatorEN442_2");` no longer gives the nonliteral value error.
The `Attempting to redeclare ThermodynamicState` persists.

[2015-06-05 12:35] thorade commented on #128
OK, the nonliteral value is just a warning, and it is only displayed when checking in non-pedantic mode.

[2015-06-05 13:22] thorade commented on #128
Also see  https://github.com/open-ideas/IDEAS/issues/165

[2015-06-05 19:57] mwetter commented on #260
@Mathadon :

I updated also the medium. I still get
[code]
Please review https://github.com/iea-annex60/modelica-annex60/pull/263 which contains your earlier pull request.

[2015-06-05 20:00] nytschgeusen opened #264 "Add pipe with heat loss"
The majority of the case studies of Activuty 2.1 used a thermal pipe model, describing the thermal losses and pressure losses within thermal loops. Up to now the Annex 60 library owns only a adiabatic pipe (Annex60.Fluid.FixedResistances-LosslessPipe). E.g. the the pipe model from the Buildings library or a similar one would fill this gap.

[2015-06-05 20:45] mwetter commented on #264
Created branch `issue264_pipe` for integration of pipe model.

[2015-06-06 04:47] mwetter opened #266 "various examples fail pedantic model check and translation in Dymola 2016"
`Examples.MixingVolumes` fails the pedantic model check in Dymola 2016 because `PartialMixingVolume` accesses the conditionally removed component `dynBal`, and because of a redeclaration of the `ThermodynamicState` in the media.

[2015-06-08 06:14] Mathadon commented on #260
I agree with the proposed changes.

[2015-06-08 14:29] #128 closed

[2015-06-08 14:32] mwetter commented on #260
This is now on the master

[2015-06-08 14:32] #260 closed

[2015-06-10 09:04] thorade opened #268 "Fluid.Sensors.TraceSubstances fixed=false parameters error"
`checkModel("Annex60.Fluid.Sensors.TraceSubstances");` fails in non-pedantic mode, because parameter s is set fixed=false but it is used as a structural parameter.

[2015-06-10 09:30] thorade commented on #252
One more idea: Would it make sense to have two top-level directories, one called Types and one called Constants? And then move Azimuth and Tilt to the Constants directory?

[2015-06-10 16:03] mwetter commented on #266
Reopened as more changes are needed to make pedantic model check and translation work in `Buildings`.

[2015-06-10 17:42] #252 closed

[2015-06-10 23:17] mwetter opened #271 "add valve and damper with linear relationship between flow and lift for given authority"
For valves and air dampers, the mass flow rate increases sharply at low lifts, in particular, but not only, if the authority is low. This causes a large control gain at low lifts, which in turn can cause instability in the feedback control that may require a compensation at the input signal of the valve. Such instabilities can significantly affect computing time.

This ticket is to implement eithe

[2015-06-11 19:52] Mathadon opened #272 "Thermal losses in temperature sensor"
When there is no flow, the output temperature of a temperature sensor remains constant. It would be nice if we could add the option to simulate thermal losses, characterised by a thermal loss time constant and a steady state temperature.
This is because I'm experiencing problems with sensors not exhibiting this behaviour. Is it desirable to add this functionality (disable by default)?

[2015-06-12 07:06] thorade commented on #268
Looks good. The error message is gone and the example still runs.

[2015-06-15 08:02] thorade opened #273 "Airflow HTML"
There are some small HTML issues in the Airflow package.

[2015-06-15 11:39] thorade commented on #273
Searching the Annex60 library for `modelica://Buildings` returns 31 occurences. Can be fixed by search&replace.

[2015-06-16 14:57] #273 closed

[2015-06-16 15:10] #268 closed

[2015-06-16 15:24] #241 closed

[2015-06-16 16:04] mwetter commented on #223
Each library should create a branch `Annex60_HP_review`

[2015-06-20 05:37] mwetter commented on #272
@Mathadon

I like the proposed implementation (with a few minor modifications).

I revised the code on the new branch `issue272_lossTsensors` and did mainly the following changes:

I changed `enableThermalLosses` to `transferHeat` and `tauLoss` to `tauHeaTra` because for cooling systems, the sensor has a heat gain, not a loss, and hence heat transfer is a better term.

I added graphics that is ena

[2015-06-20 05:57] Mathadon commented on #272
I like the changes. I propose however to remove the statement about Dymola since I do not think it is relevant and it is incorrect when ```Evaluate=false``` (I verified this in the meantime).

[2015-06-20 05:57] Mathadon commented on #272
Nice drawing skills by the way!

[2015-06-20 06:01] Mathadon commented on #272
This drew my attention to the fact that we cannot distinguish visually between the sensor with and without dynamics. In general I think it may be interesting to add a symbol when certain components can be configured between steady state and dynamic operation (similar to pump model). The only problem is that Dymola does not evaluate complicated parameter dependencies while editing so using them to

[2015-06-22 16:15] damienpicard commented on #223
The KULeuven model can be found in:
https://github.com/open-ideas/IDEAS/tree/Annex60_HP_review

The models are in `IDEAS.Fluid.Production`.

[2015-06-23 22:18] marcusfuchs commented on #264
I pushed a first implementation of an adiabatic pipe model using the spatialDistribution operator to this branch. In a next step, different options for heat transfer can be tested based on this model. I also included an example that demonstrates the different mass flow rates optained with 2 hydraulic resistances from pipes of 50 m length each compared to a single pipe of 100 m length. The files ar

[2015-06-24 23:17] mwetter commented on #223
The LBNL models are at
https://github.com/lbl-srg/modelica-buildings/tree/Annex60_HP_review
in the package `Fluid/HeatExchangers/HeatPumps`
A few unit tests of the base classes do not yet work, and also the air to air heat pump fails the model check due to a syntax error.

[2015-06-25 09:18] KristianHuchtemann commented on #223
The RWTH Aachen model can be found here:
https://github.com/RWTH-EBC/AixLib/tree/Annex60_HP_review
in `AixLib/Fluid/HeatExchangers/HeatPump`

[2015-06-25 23:49] mwetter opened #279 "optimize Fluid.BaseClasses.FlowModels.basicFlowFunction_dp"
The function `Fluid.BaseClasses.FlowModels.basicFlowFunction_dp` and `basicFlowFunction_m_flow` lead to many operations outside the turbulent region.
This issue should look at whether a simpler implementation leads to faster computation. One could for example use a linear function for |m_flow| < m_flow_turbulent/2 and use regularization between these two regions. This regularization could be done

[2015-06-26 08:55] Mathadon commented on #279
I'm in favour of  this change since the combined functions are indeed very complex and often they require many evaluations because they are used in non-linear systems. Moreover a linear regime would better correspond to the laminar flow regime that occurs in practice. I suggest to look for a solution in this direction. For valves things may be a bit more complicated, although a pragmatic approxima

[2015-06-30 05:09] mwetter commented on #2
@marcusfuchs : Examples for the function `smoothHeaviside` and the block `SmoothHeaviside` still need to be added:
[code]

[2015-06-30 08:03] Mathadon opened #280 "Division by zero in Annex60.Fluid.Interfaces.StaticTwoPortConservationEquation"
In some cases a division by zero occurs in ```Annex60.Fluid.Interfaces.StaticTwoPortConservationEquation```. Consider the following example:

![screen shot 2015-06-30 at 09 49 55](https://cloud.githubusercontent.com/assets/5970879/8426340/533e25d4-1f0f-11e5-9558-3d1cf180060d.png)

the mixing volume is steady state. Due to the prescribed temperature the outlet temperature is known. The heat flow ra

[2015-06-30 08:17] Mathadon commented on #280
See https://github.com/Mathadon/modelica-annex60/tree/issue280_divZeroMixVol for example and future unit test

[2015-06-30 09:07] Mathadon opened #281 "Simplifying h_outflow calculation when allowFlowReversal = false"
Currently Dymola is able to simplify some calculations when ```allowFlowReversal = false```. Consider for instance the following equation.
```H_in = semiLinear(m_flow, inStream(port_a.h_outflow), inStream(port_b.h_outflow))```
```allowFlowReversal``` typically sets the ```min``` attribute of ```m_flow``` equal to zero. Dymola can then detect that mass flow will never become negative and that there

[2015-06-30 09:22] Mathadon commented on #281
See example  ```Annex60.Fluid.Interfaces.Examples.ReverseFlowAdvanced``` on https://github.com/Mathadon/modelica-annex60/tree/issue281_floRevCalc
Heat is injected based on the _upstream_ temperature of the fluid. Since mass flow is always in the same direction this temperature is known a priori. However since dymola thinks the flow can reverse (even with allowFlowReversal=false) a non-linear syste

[2015-06-30 09:22] Mathadon commented on #281
If you agree with the proposed changes I can propose an implementation.

[2015-06-30 09:24] Mathadon commented on #281
Illustration:
![screen shot 2015-06-30 at 11 24 18](https://cloud.githubusercontent.com/assets/5970879/8427820/9aea19d2-1f1a-11e5-9578-2933ea888b24.png)

[2015-06-30 13:55] Mathadon opened #282 "Energy not conserved in non-linear systems containing Annex60.Fluid.Interfaces.StaticTwoPortConservationEquation"
When a ```MixingVolume``` is configured to steady state (i.e. ```Annex60.Fluid.Interfaces.StaticTwoPortConservationEquation``` is used) energy is in some cases not conserved at zero flow. The problem arises when the following equation is used in a non-linear system:

[code]

A resulting non-linear algebraic loop may look like:
[code]

In the last equation ```vol.steBal.m_flowInv``` is zero around

[2015-06-30 14:08] Mathadon commented on #282
See https://github.com/Mathadon/modelica-annex60/tree/issue282_singularMixVol for an example

[2015-06-30 14:18] Mathadon commented on #282
Setting ```use_safeDivision=false``` can lead to other problems for the same model so this does not seem to be an option..

[2015-06-30 22:45] mwetter commented on #282
`m_flowInv` approaches zero only near zero flow. This is required for `m_flowInv` to be smooth and to be equal to `1/m_flow` for reasonably large flow rates. I do not know how to otherwise robustly handle the problem described by equation (1) in http://www.tandfonline.com/doi/pdf/10.1080/19401493.2013.765506

If m_flow is that small to be inside the region where this regularization happens, then n

[2015-06-30 22:59] mwetter commented on #272
This is now on the master.

[2015-06-30 22:59] #272 closed

[2015-06-30 23:22] mwetter commented on #280
@Mathadon : Shouldn't you use `HeaterCooler_T` if you want to have ideal control on the outlet temperature (optionally, with a limit on the maximum capacity which I believe you will need for reasonable applications)?

[2015-07-01 05:56] Mathadon commented on #280
Yes, you could argue about that but the problem does not only arise when setting a fixed temperature boundary, as illustrated in https://github.com/iea-annex60/modelica-annex60/issues/282. I propose to continue the discussion in that issue.

[2015-07-01 05:56] #280 closed

[2015-07-01 06:27] Mathadon commented on #282
I agree that no heat should be exchanged when ```m_flow``` is small, but the problem is that it does exchange heat.

I think I found a solution. I'll try to explain.

In any model ```vol.heatPort.Q_flow``` and ```vol.heatPort.T``` will need to be computed somehow. Let's consider 3 cases how this can happen, depending on what is connected at the ```HeatPort```. All these cases are for ```m_flow=0``

[2015-07-01 06:45] Mathadon commented on #282
An important note for debugging this:

Dymola does not always generate errors when divisions by zero occur, this seems to be the case when the division is 'consistent', i.e. equation (1) can be evaluated as ```x=0/0```. Therefore in some cases it's difficult to 'prove' that an implementation generates errors, especially with simple examples since they can be solved quite accurately. A way to overc

[2015-07-01 07:06] Mathadon commented on #282
An additional advantage of this approach is that more systems will be linear and that they can therefore be solved more easily.

[2015-07-01 07:59] Mathadon commented on #282
The pull request contains an example model (```Annex60.Fluid.MixingVolumes.Examples.MixingVolumeZeroFlow```) that implements the changes outlined above. For each mixing volume ```prescribedHeatFlowRate``` can be changed and this will result in an error. This also shows how to previous implementation produced errors.

I did not implement ```port_a.h_outflow = Medium.h_default``` since we should tre

[2015-07-01 15:41] mwetter opened #284 "Fluid.Sensors.Examples.TemperatureDryBulb does not fit in drawing area"
The graphical layout of this example needs to be improved as the icons don't fit into the graphical layout.

[2015-07-01 16:25] mwetter commented on #282
Case 1 is OK.

For Case 2, I suggest to go with option 2, e.g., use
[code]
Please also write in the code and the info section that this relies on
[code]
Also, at the above statement, a remark should be made to avoid that someone removes the `(not allowFlowReversal)`.

For Case 3, I think we should stay with the current formulation that uses `m_flowInv`.
We cannot know whether computing `m_flow` an

[2015-07-01 17:14] Mathadon commented on #282
Case 1: Ok
Case 2: Will fix this
Case 3: I disagree:

Note that keeping ```mFlow_inv``` for case 3 is simply not an option since energy is not conserved. I've had a simulation where a storage tank was charged by itself when m_flow=0 because of this.

I'm not sure what you mean but ```T``` and ```Q_flow``` both do need to be computed from the algebraic loop as is illustrated by the following piece

[2015-07-01 17:28] Mathadon commented on #282
Note that the above problem was only introduced recently when we started using ```StaticTwoPortConservationEquation``` also when ```allowFlowReversal = false```. Before dynBal was used so the issue did not exist since this model was only used for case 1, where ```use_safeDivision = true``` was the right approach.

[2015-07-01 18:25] mwetter commented on #284
This is now on the master.

[2015-07-01 18:25] #284 closed

[2015-07-01 20:56] mwetter commented on #216
This is now on the master.

[2015-07-01 20:56] #216 closed

[2015-07-01 21:37] mwetter commented on #282
I see why you get the wrong results in Case 3. So let's use your proposed formulation for Case 3, e.g.,
[code]
Renaming `use_safeDivision` to `prescribedHeatFlowRate` is good (although this is a non-backward compatible change, but it is clearer).

Please also update the info section in `StaticTwoPortConservationEquation` so that users don't need to read github tickets. The info section should be s

[2015-07-01 22:21] Mathadon commented on #282
Fixed.

I also updated and documented ```Annex60.Fluid.Interfaces.StaticTwoPortHeatMassExchanger``` since it was affected by the renaming of ```use_safeDivision```. Unit tests give correct results.

[2015-07-01 22:30] mwetter opened #287 "wrong comment in valves"
The one-line comment is wrong for most valves as it was copied from the valve with linear flow characteristics.

[2015-07-02 14:51] #287 closed

[2015-07-02 22:16] mwetter commented on #282
@Mathadon
I did some more revisions on `issue282_singularMixVol`

I revised the comments and refactored `StaticTwoPortConservationEquation` to set default outlet values if `allowFlowReversal=false`.

I also set the MixingVolumes so that a `start` value is given for `prescribedHeatFlow` but not a default value. This will give a warning if a user uses it, but it will simulate. For the base classes,

[2015-07-03 04:37] Mathadon commented on #282
That's interesting. I'll have a look at it!

[2015-07-03 09:53] Mathadon commented on #282
I cannot reproduce these results using branch ```buildings/Annex60_issue282_singularMixVol``` using Dymola 2015FD01 or Dymola2016 using Evaluate=true or false.

Can you verify their result when doing a manual translation?

[2015-07-06 08:55] thorade opened #290 "legal.html fixes"
The html in the file legal.html needs some small fixes.

[2015-07-06 17:47] #290 closed

[2015-07-14 07:45] Mathadon opened #292 "Exposing U in conservationEquation"
I'm checking if energy is conserved in one of my models and also in IDEAS. Therefore I need to be able to add up all internal energy of the models. U in `conservationEquation` is part of this, but `dynBal` is a protected model. I'd like to expose U by either making `dynBal` public or by adding a new variable U in `partialMixingVolume`. This variable can be set to 0 when using steadyState equations

[2015-07-14 14:28] mwetter commented on #292
You can run the model using `Advanced.StoreProtectedVariables:= true;` in Dymola. If you want to automate it, you can use
[code]
See also http://simulationresearch.lbl.gov/modelica/buildingspy/simulate.html#module-buildingspy.simulate.Simulator

[2015-07-14 14:30] Mathadon commented on #292
But then I still get warnings, no?

[2015-07-14 14:31] Mathadon commented on #292
Oh and I'm trying to do this 'on line', not with post processing. So the problem is I get warnings when directly using `vol.dynBal.U`.

[2015-07-14 14:36] mwetter commented on #292
I guess that is primarily for your development. When I had a similar need, I made my own branch, removed the `protected` statement, and used that branch for my tests. You can still merge other changes from your `master` (or any other branch). Git should notice that you removed the `protected` after you made a new branch and hence should not overwrite it in subsequent merges.

This is how I work fo

[2015-07-14 14:39] Mathadon commented on #292
I'm actually adding the option in IDEAS to check conservation of energy so that would not be very practical since every merge from Annex60 would require the `protected` modifier to be removed again.

[2015-07-14 14:46] mwetter commented on #292
Why don't you just write models that conserve energy (except for tiny mass flow rates for numerical reasons)? I don't see why users rather than developers would want to have to check this frequently. This adds in my view output variables that are not needed. If we go that path, we may also need to provide outputs to check that mass is conserved, mass fractions are conserved, and trace substances a

[2015-07-14 15:20] Mathadon commented on #292
Energy may not be conserved due to bad connections etc, so creating good component models does not guarantee conservation of energy. Indeed, for large models a first verification should be to check if energy is conserved in the model, for which I'd have to keep track of all enthalpy/heat flowing into the system. I think this is a valid use case.
We could output `m` instead of `p` and `U` instead o

[2015-07-14 15:20] Mathadon commented on #292
To be clear: I prefer just adding U and to keep T.

[2015-07-14 17:08] mwetter commented on #292
Can you provide an model with a "bad connection"? Based on the connection
semantics of Modelica, connections should preserve energy and mass.
Otherwise, there may be a flaw in the implementation or in the solver that
needs to be corrected.

On Tue, Jul 14, 2015 at 8:20 AM, Filip <notifications@github.com> wrote:

[2015-07-14 17:16] Mathadon commented on #292
For instance: 1) Setting ```allowFlowReversal = false``` and then reversing the flow leads to problems. 2) If you're not careful with connecting instances of ```boundary_pT``` that only exist for setting an absolute pressure on the system, then mass can be drawn from these boundaries, which injects energy in the system. Both of these problems have happened before by accident and they sometimes go

[2015-07-14 17:16] #292 closed

[2015-07-15 12:12] Mathadon commented on #279
I created an (arguably dumb) implementation for this `Annex60.Fluid.BaseClasses.FlowModels.basicFlowFunction_dp`:

[code]

I then evaluated `Annex60.Fluid.Examples.Performance.Example2(from_dp.k=true)`, which does pretty much nothing else than evaluate that function. Results are

### before
[code]
### after
[code]

so this does indicate that a lot of performance can be gained. We should however lo

[2015-07-15 14:08] rubenbaetens opened #294 "Graphical differentiation of A60 models"
After merging the `Annex60` models into `IDEAS`, we noticed it's hard to differentiate between the models made in the Annex and made by our selve.

That is, e.g. the package icons are similar or have the same style, which of course gives a homogeneous impression in a library but which also makes it difficult to find the added value of a developed library based on the Annex components.

Maybe we sh

[2015-07-15 14:13] Mathadon commented on #279
Note that these functions are not inlined even though `LateInline=true`. This may imply a performance penalty.

[2015-07-15 14:30] Mathadon commented on #279
The functions are inlined when `dp_turbulent` and `kSqu` are eliminated:
[code]
The speed is then:
[code]

[2015-07-15 14:44] mwetter commented on #279
These are nice speed-ups. It would be good to investigate how expensive evaluating `sin()` is compared to using a polynomial in this region.
As these functions are used so often, it may make sense to provide a different implementation for actuators and for fixed resistances if pre-computing polynomial coefficients is possible for fixed resistances only.
I think @marcusfuchs will also be looking in

[2015-07-15 18:45] Mathadon commented on #279
Based on the following example
[code]

I find:
Third degree polynomial with zero offset: 0.26 s
Fourth degree polynomial with zero offset: 0.44 s
sine: 0.21 s
overhead for loop: 0.02 s

[2015-07-15 19:01] mlauster commented on #94
I implemented a first version of the overall new models. We have now three different models on different levels that extend each other. This might fulfill the needs of the different institutes.

The branch with the models is under:
https://github.com/iea-annex60/modelica-annex60/tree/issue94_thermalZoneHarmonized

I think this is a good point to enhance collaboration.
@nytschgeusen, can you please

[2015-07-15 19:33] Mathadon commented on #279
The way I understood it the `noEvent` does not guard against division by zero. It guards against events being generated by the if clause that guards against division by zero. Is this correct?

I added the `smooth` operator. Dymola automatically converts this to a `noEvent` (see dsmodel.mof) but we can explicitly add it too.
Code excerpt:
[code]

[2015-07-15 21:33] Mathadon commented on #279
Code example is on https://github.com/iea-annex60/modelica-annex60/tree/issue279_flowFunctions

Also, I have the impression that the old implementation does not comply with the Modelica specification:

This is currently not the case in the regularisation region as illustrated by `Annex60.Fluid.BaseClasses.FlowModels.Examples.InverseFlowFunction` (see variable `deltaDp`). The new version does have

[2015-07-16 07:47] Mathadon commented on #279
Here is an alternative that has a continuous first derivative:

[code]
computation time is marginally faster than when using the sinusoid function.

A possible problem is that this function's inverse is pretty expensive to evaluate:
[code]
a solution may be to allow that f(dp) is not the exact inverse of f(m_flow) in the turbulent region as is currently the case.

[2015-07-16 12:06] Mathadon commented on #279
Some more analyses:

### implementation for m_flow
`Annex60.Fluid.BaseClasses.FlowModels.basicFlowFunction_m_flow` can be implemented using either:
[code]
or even:
[code]

![screen shot 2015-07-16 at 13 48 04](https://cloud.githubusercontent.com/assets/5970879/8722095/627f1666-2bc1-11e5-8b09-d2fded324d5e.png)
[code]

When running the first option together with the proposed implementation of `Annex

[2015-07-17 08:34] marcusfuchs commented on #279
Looks like a good improvement from @Mathadon , looking forward to discuss this on the call later today.

[2015-07-17 09:43] marcusfuchs commented on #2
Created one example for SmoothHeaviside and linked to that example in the documentation of the function and the block.

[2015-07-17 10:21] marcusfuchs commented on #279
Also, I tested this new flow function for the pipes example in #264 and this implementation seems to solve the problem we were experiencing with different mass flow rates for 2 x 50 m pipes vs. 1 x 100 m pipe.

[2015-07-17 15:11] mwetter commented on #279
@marcusfuchs will review, ensure that it is twice continuously differentiable and add a unit test for the 1st and 2nd derivative.

[2015-07-17 15:31] mwetter commented on #82
Closed as this is now on the master.

[2015-07-17 15:31] #82 closed

[2015-07-17 16:26] mwetter commented on #282
@Mathadon : The large tests in the Buildings library work fine. I also verified the above statistics for `SpaceCoolingSystem3`, `DataCenterDiscreteTimeControl` and `DataCenterRenewables` and I get the smaller system (as described under 'Old').

@Mathadon This is ready to merge from my point of view.

[2015-07-17 17:25] mwetter commented on #282
@Mathadon : Can you please check why `Annex60.Fluid.Examples.Performance.Example4` no longer translates after I merged the `master` to this branch.

[2015-07-17 21:54] mwetter opened #299 "Rename FourPort"
The model `Annex60.Fluid.Interfaces.FourPort` should be renamed to `Annex60.Fluid.Interfaces.PartialFourPort` and the following declarations should be removed
[code]
We should also check whether we want to add from `PartialTwoPort` the section
[code]
These changes will make the models identical, except for the number of ports.

[2015-07-18 06:54] #2 closed

[2015-07-20 10:33] marcusfuchs opened #300 "Add benchmarking of regStep vs spliceFunction"
For FMU-Paper.

[2015-07-20 10:43] marcusfuchs commented on #300
I added simple tests to the Benchmarks package. I ran each test 10 times and compared the computation times for each call of the block "Auxiliary2 code", which I think includes the function calls.

The results showed quite some variations, with the regStep function seeming to be a bit faster than the splice function on average:

regStep() | spliceFunction()
------------ | -------------
57.08 | 61.

[2015-07-20 14:18] marcusfuchs commented on #279
I added a test case for the 1st-  and 2nd-order derivative each.

The 1st-order derivative check works for from_dp = true and from_dp = false.

The 2nd-order derivative check works for from_dp = true but fails for from_dp = false. So if the tests are implemented correctly, the flowFunction_dp would be twice differentiable, the flowFunction_mflow only once. I will double-check this tomorrow.

[2015-07-20 23:30] mwetter commented on #300
Because `regStep` is on average about 8% faster, I think we should use `regStep` in `Utilities.Math`.

[2015-07-21 12:14] marcusfuchs commented on #279
Also the 2nd-order derivative check works with from_dp = false on the dassl solver if the solver tolerance is decreased from 1e-4 to 1e-6.

[2015-07-21 21:08] mwetter commented on #282
@Mathadon : I think we should look at setting `prescribedHeatFlowRate=false` by default by assigning the parameter in the base class. Models such as a chiller or furnace could set it to `true`.

Using `true` as a default value can give strange results, see `vol[1].T` when running
[code]
![resistancevolumeflowreversal](https://cloud.githubusercontent.com/assets/1329080/8812545/80edf10a-2fb1-11e5-86

[2015-07-26 07:44] Mathadon commented on #300
Did you verify if the function is inlined? This could create a speed up. You can write An algorithm that loops over the function. That makes it easier to compare performance.

Op 21-jul.-2015 om 01:30 heeft Michael Wetter <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

Because regStep is on average about 8% faster, I think we should use regStep in Utilities.Ma

[2015-07-27 14:36] marcusfuchs commented on #300
That is a good point, I had originally not taken that into account.

Now I duplicated both `regStep()` and `spliceFunction()` and added `inline=true` to both functions. With both `regStep()` and `regStepInline()`, the code seemed to be inlined in the `dsmodel.mof`, while for both `spliceFunction()` as well as for `spliceFunctionInline()`, the code was not inlined, despite the annotation `inline=tr

[2015-07-27 20:20] mwetter commented on #300
@marcusfuchs : Did you use `inline` or `Inline`? It should be capitalized, but I could not check your implementation as it is not on github.

[2015-07-27 22:59] mwetter commented on #279
@marcusfuchs
I renamed the examples using
[code]
as they are validation tests and not examples. I also added scripts for the regression tests.

[2015-07-28 07:26] marcusfuchs commented on #300
You're right, I changed it to ´Inline´, yet I was not able to see any changes in the dsmodel file. Yet, as I had not used ´Inline´ before, there may still be something wrong with my implementation. I pushed the examples to the branch.

[2015-07-28 07:41] #279 closed

[2015-07-28 11:26] thorade commented on #294
I think I like the idea of having similar icons everywhere.
Could the `.copiedFiles.txt` file be used somehow in this context?

[2015-07-28 15:07] mwetter opened #301 "additional nonlinear equation in fluid flow models"
@Mathadon Your commit https://github.com/iea-annex60/modelica-annex60/commit/44734871284abece3ed02996b09097e644d126e7 causes
the test cases
[code]
and various others to have more nonlinear equations than before.

This needs to be looked at and corrected or we need an explanation for why there are nonlinear equations that have not been present before.

[2015-07-28 21:34] mwetter commented on #294
I think the icons should be similar so that the appearance is more homogeneous, and also because typical users probably don't care much about where the models come from. We could identify in the release notes something like "x out of y models and functions are from the Annex 60 library."

[2015-07-28 22:08] mwetter commented on #300
@marcusfuchs The implementation seems correct. Note that "Inline" is only a suggestion for the translator. Maybe because spliceFunction is larger, Dymola decides not to inline the code.

Next, I suggest to use regStep where we now use spliceFunction, and I can run a few tests on the larger models of the Buildings library, preferably after https://github.com/iea-annex60/modelica-annex60/issues/301

[2015-07-28 22:28] mwetter commented on #301
A simple model to check is `Examples.Damper`. This leads in `dsmodel.mof` to
[code]
This section was eliminated earlier. Note also the `smooth(2, smooth(2, ...` which is wrong.

The best translation statistics for the damper test case is obtained with
[code]

Note that using `smooth` in the `algorithm` section causes Dymola to not simplify the model for the initialization problem.

[2015-08-02 16:38] Mathadon commented on #300
From my experience with inlining Dymola will only inline the function if the function body contains only one equation (including parameters). This is the case for `Annex60.Experimental.Benchmarks.Utilities.FunctionsInlined.regStepInline` but not for `Annex60.Experimental.Benchmarks.Utilities.FunctionsInlined.spliceFunctionInline`. With following implementation the function is inlined:
[code]

[2015-08-02 16:48] Mathadon commented on #301
This is as expected. See my comment in #279

This can be 'fixed' by switching `from_dp` in the component causing the non-linear system.

Is this a sufficient explanation?

[2015-08-02 17:39] Mathadon commented on #282
I agree that we should set `prescribedHeatFlowRate=false` by default since this will be the correct setting in most of the cases.

I'm not sure if it should be a `constant` or a `parameter`. Not being able to use the gui to change/see the variable seems a bit impractical. I do agree that its value should never need to be changed after compilation.

[2015-08-03 16:35] damienpicard commented on #223
Dear all,

I made a small qualitative comparison between the IDEAS and Buildings heat pump model.
The comparison can be found on this link:
https://docs.google.com/spreadsheets/d/1MCp-S20RlsxlY-m2P3vKMVa3hW3r-jMMvyjB8qlotqk/edit?usp=sharing

My general conclusions are:
1. The buildings library models are physically more accurate, as they take the start up and shut down behaviour fo the HP into acc

[2015-08-05 15:34] mwetter commented on #294
An option would be to add in release notes or acknowledgement
[code]
Adding a commit to each model would not be good as it causes changes during each commit.
An option would be to add in each model a string such as
[code]

[2015-08-05 15:37] thorade commented on #294
The URL of each file on github also does not change and could be added.
Would also be possible to link to the "blame" view, e.g.
https://github.com/iea-annex60/modelica-annex60/blame/master/Annex60/package.mo

[2015-08-05 23:41] mwetter commented on #301
@marcusfuchs
Can you please address the `fixme` that I added to
[code]
The problem is that depending on the value of `from_dp`, only one of the implementations is tested.
I added tests for both branches in `Inverting*` and in `BasicFlowFunction_{m_flow,dp}_DerivativeCheck{2}.mo`. The latter also checks the second order derivatives for an input signal that has a non-zero second order derivative.

I

[2015-08-06 05:34] mwetter opened #302 "inverseXRegularized has wrong declaration of smoothOrder and inefficient implementation"
The function `Annex60.Utilities.Math.Functions.inverseXRegularized` declares `smoothOrder=1` and `smoothOrder=2`. The first declaration need to be removed as the function is twice continuously differentiable.

[2015-08-06 05:47] mwetter opened #303 "Verify implementation of derivatives"
- [x] The following examples need to be revised so that the derivative of the function argument is different from 1. This is needed to verify the correct implementation of the implementation of the derivative function:
  - [x] Media.Examples.AirDerivativeCheck
  - [x] Media.Examples.WaterDerivativeCheck
  - [x] Media.Specialized.Air.Examples.PerfectGasDerivativeCheck
  - [x] Media.Specialized.Wate

[2015-08-06 10:24] rubenbaetens commented on #294
It's true that a typical user doesn't care much about who made which model, the question popped-up more from a developer or an internal user  point of view who wants to address a question to the original developer of the model ...

I like the idea of noting the 'x out of y models come from A60' which gives a first indication. You might differentiate here between baseclass-like models (in which the

[2015-08-11 01:04] mwetter commented on #302
It turns out that the current implementation is only C1 at the origin.
I will develop an improved version that is C2 everywhere.

[2015-08-11 22:09] mwetter commented on #282
@Mathadon If you agree with the current implementation, I (or you) can merge
https://github.com/iea-annex60/modelica-annex60/pull/289

I merged this already to the master of the `Buildings` library and see no issue. In fact, https://github.com/lbl-srg/modelica-buildings/pull/448 leads to about 5 to 10% faster simulation across a few large test models.

[2015-08-12 08:21] Mathadon commented on #282
That's good news :) I'll do the merge!

[2015-08-12 08:30] Mathadon commented on #282
This is closed by #289

[2015-08-12 08:30] #282 closed

[2015-08-12 19:01] mwetter commented on #301
Closed as this is now on the master.

[2015-08-12 19:01] #301 closed

[2015-08-12 19:02] mwetter commented on #302
Closed as this is now on the master

[2015-08-12 19:02] #302 closed

[2015-08-15 10:13] Mathadon opened #305 "Simplify moisture fraction when allowFlowReversal=false"
`Annex60.Fluid.Interfaces.PartialTwoPortTransport` can be simplified when `allowFlowReversal=false`:

[code]
then becomes
[code]
this is similar to `Annex60.Fluid.Interfaces.StaticTwoPortConservationEquation`.

I'll make a  pull request.

[2015-08-17 21:42] mwetter commented on #305
This is now on the master.

[2015-08-17 21:42] #305 closed

[2015-08-20 11:56] thorade commented on #294
A related comment:
Currently the merge script will create the file `.copiedFiles.txt` and the first two lines look like:
[code]
It would be nice it there could be a third line saying which commit (identified by its SHA) was used for the merge.

[2015-08-20 15:08] #303 closed

[2015-09-01 20:53] mwetter commented on #266
@marcusfuchs : Can you please corrected the benchmarks so that the files below simulate if you enable the pedantic modelica check in Dymola:
[code]
This seems to be the only outstanding issue to enable pedantic mode. The problem seem to be that different start values are used at the same object hierarchy.

[2015-09-02 14:14] choeger opened #308 "No license description"
The repository lacks an (easily accessible) license file. Under what license is it released?

[2015-09-02 14:18] mwetter commented on #308
See https://github.com/iea-annex60/modelica-annex60/blob/master/Annex60/legal.html

The file is in the Annex60 subdirectory because Modelica libraries do not include the top-level directory when they are installed.

[2015-09-02 14:18] #308 closed

[2015-09-02 14:28] choeger commented on #308
Do you expect users to find that file without any further information? No automated tool and no casual user/optential contributor will find that file quickly. To me the library looked like many other propietary github projects, that way. There should be either a link to the file in the readme or (better) a markdown LICENSE.md file in the repository.

See http://pastebin.com/tQHssrEu for the Modeli

[2015-09-02 15:24] mwetter commented on #308
I added a link in README.md

Reproducing the file in md format will cause to have multiple versions which cannot be compared easily.

[2015-09-02 16:42] marcusfuchs commented on #266
I added some start values to solve this issue and it should now work.

Yet, the problem causing this seems to be a fundamental inconsistency within the MSL regarding these start values. As I understand it, the problem is caused by different start values for the medium temperature and for heat ports that are coupled with each other via connect statements. In this case, `Annex60.Media.Air` sets `Tem

[2015-09-02 17:23] mwetter commented on #266
@marcusfuchs : Your interpretation is correct. I don't see a better work-around than manually  setting consistent start values as setting Medium.T_default=288.15 K is not good either. I rather start the medium at room temperature.

I will issue a pull request.

[2015-09-03 15:26] mwetter commented on #266
Closed as it is on the master.

[2015-09-03 15:26] #266 closed

[2015-09-03 15:27] Mathadon commented on #281
I need to make a new pull request for this.

[2015-09-03 15:41] damienpicard commented on #223
New link with edit right:
https://docs.google.com/spreadsheets/d/1MCp-S20RlsxlY-m2P3vKMVa3hW3r-jMMvyjB8qlotqk/edit?usp=sharing

[2015-09-03 20:08] Mathadon commented on #247
I updated code in https://github.com/iea-annex60/modelica-annex60/tree/issue247_conservationTestsv2

However there are some warnings in the new models since we need some protected variables in dynBal. This will cause conflicts with pedantic mode. @mwetter is there a way to unprotect `dynBal` in the example somehow?

[2015-09-03 20:39] mwetter commented on #247
@Mathadon : The Modelica language does not allow you to make instances public once they were declared as protected. Hence, the examples will need to be changed so that they conform to the language standard.

[2015-09-03 20:42] Mathadon commented on #247
The most practical solution is to make some variables in `dynBal` public. Is this an option?

[2015-09-03 20:50] mwetter commented on #247
But if they are public, then the output file will increase. I prefer to
keep variables protected unless they are indeed of interest to the user.

On Thu, Sep 3, 2015 at 1:42 PM, Filip <notifications@github.com> wrote:

[2015-09-08 18:40] rfranke commented on #281
Note that OpenModelica now considers the simplification. In fact any Modelica tool must do so in order to produce correct results for fluid models with absolute sensors, like Modelica.Fluid.Examples.{DrumBoiler, TraceSubstances.RoomCO2}.
See: https://trac.openmodelica.org/OpenModelica/ticket/3430

[2015-09-14 10:26] Mathadon opened #310 "Compressible air"
The current air implementation is compressible:
[code]

This implies that a pressure state is created in mixing volumes. The physical significance of this for our purposes seems extremely small to me since the amount of energy contained by this 'variable' volume `V*dp_max/pStp * dStp` is very small compared to the air in the total value `V`, around 0.1%.
A second effect of this state is an effect

[2015-09-15 08:35] thorade opened #313 "linked mos scripts missing"
Two Psychrometric funtions have the Simulate and Plot command defined, but the corresponding mos file is missing:
- https://github.com/iea-annex60/modelica-annex60/blame/master/Annex60/Utilities/Psychrometrics/Functions/Examples/Density_pTX.mo#L22
- https://github.com/iea-annex60/modelica-annex60/blame/master/Annex60/Utilities/Psychrometrics/Examples/Density_pTX.mo#L38

This generates a warning in

[2015-09-16 05:38] mwetter commented on #310
Did you try `Buildings.Obsolete.Media.GasesConstantDensity.MoistAirUnsaturated`? This has been made obsolete because the computing performance was not good in benchmarks.

[2015-09-16 13:55] Mathadon commented on #281
Merged in #312

[2015-09-16 13:55] #281 closed

[2015-09-17 13:07] mwetter opened #314 "consider adding storage tank to library"
Consider adding or a merge the storage tank model from `IDEAS`, `BuilingSystems`, `Buildings` and maybe `AixLib`  to the `Annex60` library.

Next step is to discuss the four models during the phone call.
Filip to check with his co-worker about the stratification model.

[2015-09-17 13:42] damienpicard commented on #94
@mlauster you could reduce the code for dimensions and splitfactor using the following code:
[code]

[2015-09-18 07:25] Mathadon commented on #310
I'll add a documentation section under ```Annex60.UsersGuide.ComputingTime```

[2015-09-18 07:39] mwetter commented on #45
To do:
- [ ] merge master to branch
- [ ] make sure control are the same
- [ ] make python script that executes benchmarks

Per-Johan can run all benchmarks if Python script is available.

[2015-09-19 10:54] Mathadon opened #316 "Control components"
For my PhD I have created various control component models. Some of them are quite specialist and do not belong in Annex 60 in my opinion. However some are probably interesting to add:
- heating curve model
- hysteresis model with some additional options
- a 'minimum on time' block

Then I have some integer/boolean blocks that seem to be missing from MSL, but that may not be relevant to add:
- int

[2015-09-20 11:58] Mathadon opened #319 "Supporting analytic ODE Jacobians"
Setting `Advanced.GenerateAnalyticJacobian=true` in dymola can lead to important speedups when using implicit solvers (I obtained a x10 speed increase for a small district model). Therefore it may be good to extend the unit tests to check if all models can be compiled using `Advanced.GenerateAnalyticJacobian=true` and to fix those models where this is not the case. This is very similar to the exis

[2015-09-21 12:44] marcusfuchs commented on #264
I just pushed the pipe with heat loss implementation presented at the Leuven meeting. This can serve as the foundation for the working group on pipe modeling.

[2015-09-21 15:34] bramvdh91 commented on #264
I have just added our previous implementation to my local version of the Annex 60 library. I would like to push it, but I get an error "Unable to access 'https://github.com/iea-annex60/modelica-annex60.git/': The requested URL returned error: 403". Could it be that I first need permission to push to the issue264_pipe branch?

[2015-09-21 16:05] Mathadon commented on #264
You need to have write access before you can push to the annex60 repository directly. It's probably best to fork the library onto your own account and push your changes there and post a link here :)

[2015-09-22 11:47] bramvdh91 commented on #264
Thanks for the advice. I've pushed our files to https://github.com/bramvdh91/modelica-annex60/tree/issue264_pipe. I see that a few improvements are still needed to solve some inheritance issues, but the model structure is there already.

[2015-09-23 06:29] Mathadon commented on #314
I spoke to Brecht. He's currently working on a publication of reduced order models that we can later integrate into Annex 60. His main remark is that buoyancy should be considered as something that has a source and not something that 'homogeneously' appears in the tank, as we model it now.
For instance this source ca be a hot yet that anders the tank, or a heating coil that is heated. Both effects

[2015-09-24 10:08] thorade opened #320 "merged branches"
There are currently 34 branches, many of them are merged:
https://github.com/iea-annex60/modelica-annex60/branches/all
We can safely delete all merged branches,
and we can safely delete all branches that are 0 commits ahead of master.

[2015-09-24 10:18] marcusfuchs commented on #266
Just as additional reference: The start value problem is already on the Modelica Issue Tracker here:https://trac.modelica.org/Modelica/ticket/1674

[2015-09-24 13:06] marcusfuchs opened #321 "Use MSL compliant annotations in weather data reader"
@tbeu reported this to AixLib in RWTH-EBC/AixLib#107:

The weather data reader uses the annotation `__Dymola_loadSelector`. I see no difference in functionality when using `loadSelector`. Therefore I propose to change that also in Annex60. Will do that in a few minutes.

[2015-09-25 14:49] mwetter commented on #321
Closed at it is merged to the master

[2015-09-25 14:49] #321 closed

[2015-09-25 23:59] mwetter commented on #320
I deleted the old merged branches.

[2015-09-25 23:59] #320 closed

[2015-09-29 12:50] mlauster commented on #94
After the Leuven meeting, this is the task list for the ongoing work:

- [ ] Avoid default values for conditional statements using the Building's workaround
- [ ] Implement code snippet by damienpicard to shorten code
- [ ] Set min/max values where applicable
- [ ] Link parameterization tool TEASER to models
- [ ] Set up test suite to check all possible model variations
- [ ] Use rad unit instead

[2015-09-29 13:37] Mathadon commented on #266
It's probably a good idea to reply in this topic that this is/was a problem for us?

[2015-10-01 00:05] mwetter commented on #319
I agree that having this capability would be good. We could add a flag to BuildingsPy that allows to specify a command such as `Advanced.GenerateAnalyticJacobian=true` before the tests are executed. The error message would be `Failed to generate analytic Jacobian for the ODE problem`

Do you have a sense of what models typically get faster? I made two tests, both lead to higher computing time with

[2015-10-01 05:52] Mathadon commented on #319
That's somewhat unexpected but it seems to be in line with what the Dymola developers explained. I'm now a bit unsure about which Jacobian type will lead to faster models when. It may however be linked to the density of the Jacobian and/or its size. The district model speedup of a factor 10 seems to suggest that large, sparse Jacobians are accelerated. However the example in the paper seems to sug

[2015-10-01 09:02] thorade commented on #319
It is a pity Dymola does not have better documentation for the flags.
The FCSys library also lists some flags that might influence simulation performance:
https://github.com/kdavies4/FCSys/blob/master/load.mos
What is the value of the flag `Hidden.UseNewTearing`? Migth depend on the Dymola version.
Francesco showed the Jacobian sparsity as a percentage number, can you print this information using

[2015-10-01 15:31] mwetter opened #324 "Remove default and dummy annotations"
Branch to test https://github.com/iea-annex60/modelica-annex60/pull/323

[2015-10-01 16:13] marcusfuchs commented on #264
In preparation to the TelCo on the pipe models next week I started a few comparisons between the two implementations (The comparison models are in the pipe examples on the branch. It seems like the KUL implementation, as expected, is ahead on the heat loss implementation while the A60 model seems to behave better at flow reversal. For the simplest case of the lossless pipe, with the same mass flow

[2015-10-02 16:30] mwetter commented on #324
@tbeu Thanks for the new pull request. The changes are now on the master.

[2015-10-02 16:30] #324 closed

[2015-10-06 18:02] marcusfuchs commented on #264
I started combining both implementations by moving a few first KUL models into the `Experimental.Pipe` package. The new `PipeHeatLossKUL` model uses the A60 implementation of an adiabatic pipe. Both the A60 adiabatic and lossless pipes have been renamed and use the KUL icons now. I also renamed a few parameters and changed the used fluid properties in `PipeHeatLossKUL`, so that it is now better co

[2015-10-08 16:20] carlesRT commented on #264
Hi, I have been testing the  `Annex60.Experimental.Pipe.PipeHeatLossKUL` model and about what you noticed;

The mass flow rate diminish and the outlet temperature does it too. It seems right, qualitatively speaking. Do you expect a higher cooling effect?

I have seen that the value of the delay `KULHeatLoss.pDETime.tau` was negative (`time  <  tout` . Which cannot happen) . It yields a wrong value

[2015-10-08 18:53] bramvdh91 commented on #264
I would like to comment to this that the KUL model was not yet intended to handle reverse flow, since we were only treating networks without loops. As to the use of `<x>`, I think your implementation works as well, have to admit that the comment for this variable in the original code is vague and probably wrong.

[2015-10-09 08:17] casella commented on #319
I don't know how to do it using Dymola, or whether this is possible at all.
In OpenModelica, just simulate the model with the simulation flag ```-lv LOG_SOLVER```. You get something like this:
[code]
Computing the sparsity ratio is then trivial.

[2015-10-12 16:06] marcusfuchs commented on #264
@carlesRT:

You are right, I was not precise in my words. What I meant was after the mass flow rate has changed to be 0 for some time, there is no additional cooling of the non-moving fluid standing in the pipe. That is the thing I wanted to address.

And regarding the negative time delay, I think this is a nice thing about our collaborative work here, that we can each extend our models to the use

[2015-10-13 17:51] marcusfuchs commented on #264
I had some problems with the implementation proposed by @carlesRT and therefore used `abs(u)` instead:
[code]
This seems to avoid the negative time delay, yet it does not yet fix the problem regarding reverse flow losses.

[2015-10-14 13:09] carlesRT commented on #264
ok.
I have seen that both pipes use the same equation/approach to calculate the outlet temperature and heat losses but different implementations.
 `PipeHeatLossA60Ref` and `PipeHeatLossKUL` applies energy balance equations to calculate the heat losses to the whole volume of the pipe. If `m_flow = 0`, then heat losses are zero too. However during this period in which `m_flow = 0`, the cooling effec

[2015-10-14 14:06] marcusfuchs commented on #264
@carlesRT : I was able to get the same results for the temperature delay as you show in the figure for `tempDecay.td(new)`, but I was not happy with that singular bump at the exact moment of flow reversal (marked in green):

![ee24359c-727b-11e5-8521-106226475900](https://cloud.githubusercontent.com/assets/5516900/10485462/951b7550-728a-11e5-8726-98c8c706f703.png)

That's why I used a different im

[2015-10-15 11:30] carlesRT commented on #264
You are right the results do not look good... The delay should not drop till 0. However it should be a small step, since when the flow start to flow in the other direction the fluid that entered last into the pipe is the first leaving. (The value <code>tempDecay.td</code> untill aprox 1.4E5 correponds to the delay of the fluid at the outlet port_b).
![step_td](https://cloud.githubusercontent.com/a

[2015-10-15 11:38] bramvdh91 commented on #264
I am currently thinking about how to solve the problem with the time delay for reverse flow.
Just for the record (I presume this is already clear for you, but in case someone new wants to get into the discussion): the spatialDistribution function compares the inlet time (that is passed as if it were a characteristic of the moving fluid parcel) to the time when that fluid parcel is passed to the ou

[2015-10-15 12:51] bramvdh91 commented on #264
I think I have found a solution for the time delay of reversing flow. I had to remove the `abs(u)` to make it work though. Here's a screenshot of the current behaviour, for a simple instantaneous flow reversal:
![flowreversal](https://cloud.githubusercontent.com/assets/10756543/10513726/c87fbe8c-7349-11e5-9f3c-c9ac5d93b857.png)
At the beginning, the initializing behaviour is seen again, to be deal

[2015-10-16 14:17] marcusfuchs commented on #264
I was a bit mistaken about the implementation I proposed, I agree that the `abs(u)` is too much of a simplification, we really should have a slight bump in `tau` at flow reversal, as mentioned by @carlesRT.

@bramvdh91, your implementation looks correct in cases with zero-crossing as shown by your examples. Yet, for a period with zero mass flow between positive and negative mass flows your impleme

[2015-10-16 15:55] carlesRT commented on #264
@bramvdh91 I think so too. The current initialitzation corresponds to the case of a constant temperature in the pipe. I think that for now is sufficient.

@bramvdh91 @marcusfuchs  I adressed the <code>tau</code>-bump problematic adding the following code to determine the duration of the <code>m_flow = 0</code> period.

[code]
and modified the limited the <code>tau_a</code> value with the above inf

[2015-10-16 19:00] bramvdh91 commented on #264
You're right, I did not think of that.

@carlesRT Not exactly. The temperature initialization is indeed good as it is now. But the time delay spatialDistribution is initiated with zeros, which would correspond to infinite velocity or a switched flow direction.

For the cases I tested (including the zero flow from the comparison example), this tau2 gives the same result. Does anyone know how both w

[2015-10-21 16:17] bramvdh91 commented on #264
I have just added a new comparison, in which no reverse flow occurs. This example is aimed at identifying the influence of the length of the zero flow interval on temperatures at the outlet of the pipe. So far, I have seen that the outlet temperature during periods of zero flow is just kept constant, but I have not yet been able  to pinpoint where it comes from. It does appear to me that this valu

[2015-10-23 14:09] marcusfuchs commented on #264
A pulled the latest changes from @bramvdh91 and @carlesRT into the repo. In addition, I added an implmentation of the KUL equations within the A60 pipe. This is to test the influence of the switching and processing of `tau` at reverse flow vs. a `stream`-based implementation. It seems like the A60Mod version gives the same results as the KUL_Reverse implementation for both comparison cases while i

[2015-10-23 14:21] marcusfuchs commented on #264
Also pulled @k-sartor's additions to the ULg data documentation.

[2015-10-25 16:23] bramvdh91 commented on #264
@marcusfuchs I like your implementation of the KUL heat losses combined with the `inStream`, I have proposed (maybe it's a bit early, but I had an inspired moment) an implementation with both a return and supply pipe together. It extends from the `FourPortInterface` at this moment, I believe this might need some changes since now I get an error upon checking regarding the `allowFlowReversal` param

[2015-10-27 12:51] thorade opened #328 "use logo also for organization"
This is really not important, but I just found the EBC logo here:
https://github.com/iea-annex60/modelica-annex60/blob/master/Annex60/Resources/Images/iea-ebc-logo.png

Might be nice to use this also for the [iea-annex60 organization](https://github.com/iea-annex60),
nicer than the current green pixel thing.

https://github.com/iea-annex60/settings/profile

[2015-10-27 16:48] mwetter commented on #328
Thanks, I updated the logo.

[2015-10-27 16:48] #328 closed

[2015-10-28 09:49] thorade commented on #319
I contacted Dymola support (via our reseller) and as a first step towards better analysis of the model structure they suggested to set the flag `Advanced.FMI.GenerateModelDescriptionInterface2 = true`. A new file `modelDescription.xml` will be created that contains a section `ModelStructure`. That section contains a lot of information about the model structure, but I do not understand it...

[2015-10-28 10:35] carlesRT commented on #264
Hi have been testing the models and there were two main problems:

1. Difficulty to caculate the delay time for <code>PipeHeatLossKUL_Reverse</code> to adress the bump-problematic.
[code]
The implementation fails sometimes... It was not possible for me to make it work.
I think we can definetively discard this boolean option and go as @marcusfuchs  sugested

2. Wrong calculations of time_out by the

[2015-10-28 10:48] marcusfuchs commented on #264
It does indeed seem like the spatialDistribution operator introduces noise on `time_out_b` depending on the chosen `interval length` for simulation. I have neither found a way to avoid that. I hope to run a few more tests - if we can't find a solution, we may add that issue to the Modelica Tracker. Also, I think that at the Modelica Conference, for the pipe model described in https://modelica.org/

[2015-10-28 13:18] carlesRT commented on #264
I think it is good idea.

I have not work very much with delay, but I remeber i found some limitations using it... Anyway if they used it. It might work for us too.

if `abs()` is used, `HeatLossMod` and `HeatLossReverse` has the same value for `tau`.

![tau_abs](https://cloud.githubusercontent.com/assets/8694030/10789451/cd842ef2-7d7d-11e5-954d-3b2059ed1760.png)

After remove `abs()` I have seen

[2015-10-28 13:25] k-sartor commented on #264
Here is my little contribution:
A limitation of the delay operator is the maximum value of a delay is 20000s (about 5.5 hours).
Therefore it should be usefull to limit the delay.

For example this kind of large delay for the temperature could be occured if the pumps are off during a part of the night (it occurs in the control of a little DHN in Belgium).

[2015-10-28 14:55] bramvdh91 commented on #264
Hey @carlesRT, if I look at your previous two comments, I see some other strange things going on: in the one where you describe the peak (this looks strange indeed), it looks like no delay is built up for the zero period between the positive and the negative flow. For the last comment, the delay builds up, then drops to zero while the flow is still zero, and starts building up again. Is this a res

[2015-10-28 15:53] carlesRT commented on #264
Hi,

I cannot explain where this strange behaviour comes from... I will try to figure it out.

I think it has nothing to do with the `max` function but witht the `spatialDistribution` operator. You will find this strange behaviours already in the `time_out_b` values.

[2015-10-28 16:13] marcusfuchs commented on #264
@carlesRT, could you please commit an example that demonstrates where the current implementation of `HeatLossMod` with `abs()` calculates a fundamentally wrong result in addition to the `spatialDistribution` noise? I cannot reproduce any such problematic behavior, see e.g.:

![screenshot](https://cloud.githubusercontent.com/assets/5516900/10794827/16f4a24c-7d97-11e5-8a1f-7a03108bc4ba.png)

[2015-10-28 16:51] carlesRT commented on #264
Yes, I will do that.

But i think you have this noise too:

![mfuchs](https://cloud.githubusercontent.com/assets/8694030/10795952/5680a3ca-7d9c-11e5-898f-2c206c37c7d4.png)

and about the error using `abs()` you can see it in the results i uploaded. (Now highlighted)
![tau_abs_mod](https://cloud.githubusercontent.com/assets/8694030/10795968/63a529cc-7d9c-11e5-93a3-5aab90e1178c.png)

[2015-10-30 14:15] thorade opened #331 "connectorSizing in Fluid/Sources/TraceSubstancesFlowSource.mo"
Pedantic check is complaining about the `nPorts=1`in the TraceSubstancesFlowSource.

[code]

[2015-10-30 18:16] #331 closed

[2015-11-03 19:19] mwetter opened #333 "revise README file"
The readme file is outdated and needs revisions.

[2015-11-04 08:58] bramvdh91 commented on #264
Hey all, I tried to implement the time delay with a `delay` operator, however this does not seem so straightforward as the `spatialDistribution` of the inlet time. You can see a part of my struggle in my fork, in case you want to give it a try. This version is not working though (partly because I don't know exactly how to work with `when` statements).
The code is based on the following:

    ut =

[2015-11-04 13:55] #333 closed

[2015-11-05 10:10] carlesRT commented on #264
If we want to account for reverse flow, it becomes even more complex.

I think so too.To work with the `delay` operator is going to be more difficult...I do not see an easy way to calculate a correct `tau`.

I modified the `heatLossMod2` model. During the periods of zero mass flow, the `tau` was increasing sometimes for boh instances of the `heatLoss` (correct) others just for one of them (wrong).

[2015-11-05 12:43] thorade opened #338 "import SI = Modelica.SIunits;"
There are two ways to use physical types:
[code]
or
[code]
If we place the import statement at the top level `package.mo` then we could use the shorter notation everywhere else in the library. Would that be helpful?

Related:https://github.com/xogeny/ModelicaBook/issues/75

[2015-11-05 12:58] bramvdh91 commented on #264
This looks good, but I don't quite understand why the delay of the opposite `heatLoss` drops to zero some time before the flow starts again.
This also makes me think: I guess it is more efficient to keep track of the delay at the pipe level, not at the heat loss level. Whether you are working with one or two pipes (supply and return), the delay remains the same. This will require half of the memor

[2015-11-05 13:51] carlesRT commented on #264
What I implemented is not a perfect solution and as u pointed out It will sometimes fail. Maybe the `spatialDistribution` operator has some kind of limit regarding size?

What u say is right there is no need to calculate `tau` twice. I tried so many things that I am now a bit confuse.. but If I  rightly remember it, when calculating `tau` at the pipe level we had the problem after the periods with

[2015-11-05 14:46] bramvdh91 commented on #264
It certainly is difficult to keep track of all the developments, I am also confused. I think it is good to select the bits that we want to continue with as @marcusfuchs suggested during last TelCo.

[2015-11-05 14:57] marcusfuchs commented on #264
Thanks @carlesRT, this is an interesting solution

You define the switching condition as `v  >= -epsilon`,which is `v  >= -1e-9` in the shown case. It worries me a bit that the result quality seems to depend on `epsilon` in a non-predictable way. From testing a few different values for `epsilon`, it seems like it also determines when the unused `heatLoss` model's `tau` drops to zero for no other a

[2015-11-05 16:46] carlesRT commented on #264
Maybe after the next TelCo we can clean the issue or better post a summary of what we have test & achieve up to date.

It is true. Results will depend on `epsilon`. But I think that the original boolean condition ´v>=0` is not apropiate, specially when we switch flow directions. The condition is too "week" against any variation in `v` due too numerics, or any other reason. In this regard, once I g

[2015-11-05 18:45] #313 closed

[2015-11-05 19:01] mwetter commented on #338
I can go either way. Our style guide does not mention either way.

What is position of the developers from Aachen and Leuven? Shall we adapt the first (longer) version or use `import SI = Modelica.SIunits`?

[2015-11-06 07:37] Mathadon commented on #338
I prefer not using the import. We do have the 'guideline' to use full paths when instantiating models so it seems consistent to apply that rule here too.

[2015-11-06 07:50] thorade commented on #338
I think the idea should be to always use unambiguous paths, so never use e.g. `Types.xyz` but always use `Annex60.Types.xyz` or `Annex60.Fluid.Types.xyz`. Using import does not introduce any ambiguity, so it seems to be absolutely acceptable.
Still, I do not have a strong opinion on this, the discussion came up for our library and we wanted to be consistent with Annex60.

[2015-11-06 08:52] marcusfuchs commented on #338
We neither have any objections either way. I think not using the import may save a little bit of work with changing the existing models, but there does not seem to be anything fundamentally wrong with using it.

[2015-11-06 11:49] bramvdh91 commented on #264
Hey all, based on @carlesRT 's implementation with the `epsilon` condition for zero flow, I've built a model that could be included at the pipe level and that would output one time delay for both reverse and forward flow. It looks like I have found another way to fix the discontinuity in the time delays.
In the commit referenced above, I've altered the input of the `spatialDistribution` such that

[2015-11-06 14:46] thorade opened #343 "License.mo and LICENSE.html"
We want to use the standard Modelica 2 license for the BuildingSystems library. We saved the top level UsersGuide as a directory with several files, one of them is LICENSE.mo. That file contains a copy of the text from https://www.modelica.org/licenses As licensor, we used Berlin University of the Arts.
The file License.mo was then exported as HTML to a file LICENSE.HTML which we would like to pla

[2015-11-06 23:18] mwetter commented on #343
I believe your approach is fine. I added to the Acknowledgments class of the `Buildings` library the following:
[code]
It would be good if all libraries use the same, so please let me know any suggested changes.

Maybe we should have similar wording in the README.md file.

[2015-11-09 08:24] thorade commented on #343
OK, thanks. I will add that text to our Acknowledgements.mo
There is one related pull request, then this issue can be closed.

[2015-11-10 11:11] bramvdh91 commented on #299
I have made an implementation for this PartialFourPort based on the PartialTwoPort. I have duplicated the `exposesState` variables, but kept one `showDesignFlowDirection` (since I assume the flow in the two circuits will be equal but opposite). The component can be found in https://github.com/bramvdh91/modelica-annex60/tree/issue264_pipe (since I changed it working on issue 264) under `Experimenta

[2015-11-11 00:53] mwetter commented on #299
@bramvdh91 : Can you please move your model to  `Annex60.Fluid.Interfaces.PartialFourPort`. This way, we can integrate it into the Annex 60 library and address this ticket separately from the pipe model. (It usually is easier to have smaller pull request as opposed to addressing multiple issues in one pull request.)

[2015-11-11 01:56] #343 closed

[2015-11-11 02:23] mwetter opened #346 "Correct typo in Declination.mo"
The documentation has a typo.

[2015-11-11 13:43] bramvdh91 commented on #299
I have added the component in a separate branch to limit the pull request.

[2015-11-11 15:52] bramvdh91 commented on #264
I've made a comparison between the case where the time delay is tracked in the HeatLoss operator and the case where the time delay is stored one level higher. The latter seems to generate more events as expected (//2 in the graph is the PipeLevelDelay), but the CPU time is slightly lower for this example.
You can find both examples under `Annex60.Experimental.Pipe.Examples.Comparisons.Events`.
![c

[2015-11-11 16:41] carlesRT commented on #264
I ran the models `DelayInPipe` and `DelayInHeatLoss`. The EventCounter plot is the same however the CPUtime plot is slightly different. In my results the lower CPUtime corresponds to the model `DelayInHeatLoss`. we actually expected the opposite results (`DelayInPipe` more efficient than `DelayInHeatLoss`)... didnt we?

[2015-11-11 22:59] bramvdh91 commented on #264
Hey Carles, that seems strange. I considered that I might have mixed the plots up, but after testing again, I got the same results as in the plots above. I will try the difference for the four pipe model tomorrow.

[2015-11-12 07:39] mwetter opened #349 "Remove showDesignFlowDirection"
The flag `showDesignFlowDirection` is in my view not needed as it should be clear that the flow is from port a to port b. Also, this feature is not consistently used now by models with two ports, and it is not used in model with four ports.

I therefore propose to remove this graphical annotation. What are the positions of Aachen, Leuven and UdK?

[2015-11-12 08:01] mwetter commented on #299
@bramvdh91 : Thanks for your pull request. I merged it to the development branch.

For now, I did not use `exposesState` as I don't think this is used by any model. I suggest to consider whether we should remove this parameter from all models, or else add it to the `PartialFourPort` and use it in models that extend from `PartialFourPort`. (Removing parameters is always harder as this can cause inc

[2015-11-12 09:06] #346 closed

[2015-11-12 09:38] bramvdh91 commented on #299
Okay, I think I misinterpreted the opening comment of this issue, which is why I didn't add the two media.

[2015-11-12 09:55] carlesRT commented on #264
Hi, I ran the models again and the `CPUtime` were really close to each other, almost the same. Ran it again but for a ten times longer simulation time and setting periodic boundary conditions. Resuls show `DelayInPipe` to be faster. The results might depend on many factors such as computer (hardware) or solver.  I guess the simulation time of the example was two short for my computer to notice any

[2015-11-13 06:19] mwetter opened #350 "Images are stored in wrong place"
The directory `Annex60/Fluid/Images/Components` contains various images.
If they are used in the documentation, then they should be moved to `Annex60/Resources/Images`, otherwise they need to be deleted.

[2015-11-13 06:53] mwetter opened #351 "Consider removing port_a_exposesState and port_b_exposesState"
Consider removing in `PartialTwoPort` the parameters
`port_a_exposesState` and `port_b_exposesState`.
I don't think any library is using this feature.

[2015-11-13 07:13] mwetter opened #353 "Annex60.Fluid.Interfaces.FourPortHeatMassExchanger is not used"
The model `Annex60.Fluid.Interfaces.FourPortHeatMassExchanger` is not used anywhere in the library, and hence it is also not part of any regression test.
I suggest to keep the model in the library as it is similar to `TwoPortHeatMassExchanger` and libraries the are based on `Annex60` are using it, for example in `Buildings.Fluid.Chillers.Carnot`.

To avoid breaking the model, a regression test nee

[2015-11-13 07:26] mwetter opened #354 "Merge Fluid.Movers from Buildings"
This issue is to merge the revised movers to the Annex 60 library.

The package `Fluid.Movers` has been significantly revised in https://github.com/lbl-srg/modelica-buildings/issues/288 and in https://github.com/lbl-srg/modelica-buildings/issues/457.

They now allow a constant control signal, or a stage signal in addition to a continuous control signal. Also, parameters that were exposed twice, in

[2015-11-13 07:47] mwetter commented on #351
I suggest to remove these parameters as they cannot be dynamically changed on the diagram layer. For example, change in `Movers.BaseClasses.PartialFlowMachine` the `extends` statement to be
[code]
Looking at `Movers.Validation.PumpCurveConstruction` shows that the icon still shows the graphical annotation despite that the pumps are configured to be steady-state.

I therefore suggest to remove thes

[2015-11-13 07:55] mwetter commented on #338
To summarize, LBL and Leuven prefer not to use the import statement.
UdK does not care.
Aachen seems to have slight preference for not using it.

I therefore close this ticket. If someone objects, please reopen it again so we can discuss at the next call.

[2015-11-13 07:55] #338 closed

[2015-11-13 09:34] mlauster commented on #349
I don't think we are using this, I'm fine with your proposal

[2015-11-13 09:43] mlauster commented on #351
From Aachen side, we are using this, but I'm not sure yet if it works in our cases. We need to check this.

[2015-11-13 10:01] mlauster commented on #351
Aachen should be fine with removing this.

[2015-11-13 11:06] Mathadon commented on #349
The design flow direction itself is not useful, but the symbol indicating `allowFlowReversal`, which is linked to it, does have some use. It however does not work when the parameter value of `allowFlowReversal` is propagated so I propose to remove both, also because it's one of the only parameters having a coupled visual illustration.

[2015-11-13 14:24] Mathadon commented on #351
Ok, we never use it!

[2015-11-14 11:52] #350 closed

[2015-11-14 12:13] mwetter opened #356 "fix typos"
This issue is to fix typos and do some other clean up.

[2015-11-16 08:10] #356 closed

[2015-11-16 09:14] #299 closed

[2015-11-17 10:25] carlesRT commented on #349
after a while working with Modelica one internalizes that the design direction is `port_a to port_b`, being the arrow not necessary anymore.

But if `allowFlowReversal=false` it is important to connect correctly the pipe model. The arrow might help to detect any wrong connection. A bit easier than look at the `Fluidport` color (blue/white). I would suggest remove the boolean `showDesignFlowDirecti

[2015-11-19 12:07] carlesRT commented on #351
I think we also do not use it.

[2015-11-19 16:20] mwetter opened #359 "numerical Jacobians in Airflow package"
The following scripts generate numerical Jacobians:
[code]
The models need to be analysed and changes made to allow symbolic expressions for the Jacobian.

[2015-11-19 16:37] mwetter commented on #349
@carlesRT Your suggestion of `visible=not allowFlowReversal` sounds good. I will implement this on branch `issue351_exposingPorts` as there is overlap with this ticket (on the documentation).

[2015-11-21 04:44] mwetter opened #363 "Three way valve has leakage parameter equal to 0"
This is not a valid value. The model correctly does not start due to an assert.
The leakage value should be changed to the same value as the two-way valve.
Because the model does not start without overwriting this value, this change in parameter assignment is backwards compatible and does not change any other models that run.

The problematic code is at
https://github.com/iea-annex60/modelica-anne

[2015-11-22 08:53] #354 closed

[2015-11-23 16:18] Mathadon commented on #359
I need to pull `BuildingsPy` before looking at this.

[2015-11-23 16:22] mwetter commented on #353
If `Carnot` where to be moved to `Annex60`, it should be called `Carnot_y`.

All should comment whether this should be moved to the `Annex60` library.

[2015-11-23 16:23] thorade commented on #353
Is this related to https://github.com/iea-annex60/modelica-annex60/issues/223 ??

[2015-11-23 16:25] #319 closed

[2015-11-23 16:31] mwetter commented on #316
Make a branch `issue316_control` and each developer should put their models on that branch for review and eventual integration into the `Annex60` library.

[2015-11-23 20:11] mwetter commented on #353
#223 is much bigger as its main purpose is to model an actual heat pump, whereas the Carnot model is idealized and meant for applications where no data of the heat pump is available, e.g., it is solely based on thermodynamics 2nd law, plus an efficiency correction that optionally takes the load as an input.

[2015-11-23 20:17] #359 closed

[2015-11-30 09:06] bramvdh91 commented on #264
I was looking into the heat loss calculations just now and I noticed that the parameters `A_surf` and `A_cross` in the `HeatLoss` components are not used (anymore). When we clean up the components that we don't need anymore, we can remove these parameters in my opinion.
We can of course discuss this in more detail during the TelCo today.

[2015-11-30 19:41] mwetter opened #370 "Use Modelica.SIunits.Efficiency for efficiency"
Modelica.SIunits.Efficiency is declared as
[code]
This issue will address this in other models that are not covered by https://github.com/iea-annex60/modelica-annex60/pull/369

[2015-12-01 08:29] #349 closed

[2015-12-01 10:23] Mathadon commented on #363
fixed

[2015-12-01 10:23] #363 closed

[2015-12-01 10:24] Mathadon commented on #316
done

[2015-12-01 12:36] Mathadon opened #372 "Simulating CO2 air concentrations"
I intend to start simulating CO2 concentrations in my zone models. Should we look into making some standard components for this too? For instance an 'occupant' model, which emits heat (latent and co2) and co2 could be useful.

[2015-12-01 15:52] mwetter commented on #372
That would be useful.

We currently have `Annex60.Fluid.Sources.TraceSubstancesFlowSource`. However, for adding CO2 or moisture to the volume, I would rather use a `RealInput`. The reason is that otherwise, you have for a mixing volume with inlet and outlet three or more fluid ports (inlet, outlet plus CO2 or moisture) and hence you can no longer use `allowFlowReversal=false` as the flow direction

[2015-12-01 16:46] bramvdh91 commented on #264
To comment on the latest status of my fork: I have corrected the implementation of the double pipe model (the example showed that it was not completely working as it was supposed to). I have also compared the time delay calculation on pipe and `HeatLoss` level, and again I have found that on my computer the pipe level model calculates faster, with a slightly higher count of events. However, since

[2015-12-02 00:08] mwetter commented on #370
This is now on the master.

[2015-12-02 00:08] #370 closed

[2015-12-02 08:26] Mathadon commented on #372
I agree that a `RealInput` in a `MixingVolume` would be useful for the reasons you mention. Should we then make a component `MixingVolumeTraceSubstance` similar to `MixingVolumeMoistAir` that includes an input for moist air and for trace substances? It might be better to create a single `MixingVolume` model and just create conditional inputs?

[2015-12-05 03:08] Mathadon commented on #351
This seems to be merged.

[2015-12-05 03:08] #351 closed

[2015-12-07 11:36] damienpicard commented on #353
According to me, Annex60 could benefit of having the `Buildings.Fluid.Chillers.Carnot` model. I've revised the model and I've listed my comments in https://github.com/lbl-srg/modelica-buildings/issues/471. Once these comments are adressed and if everybody agrees, the Carnot model can be added.

[2015-12-15 08:42] Mathadon opened #375 "JModelica error when dp_nominal=0"
JModelica produces the following error when dp_nominal = 0:
[code]
the reason is that `dp_nominal = 0` when we want `computeFlowResistance=false`.

A workaround would be to set: `dp_nominal_pos = if abs(dp_nominal)>0 then abs(dp_nominal) else 1 ` instead of `dp_nominal_pos = abs(dp_nominal)`.

Do we want to merge this into Annex60?

[2015-12-15 15:02] mlauster opened #376 "Documentation of weather Bus"
It would be very helpful to have an overview in the weather Bus info or in the ReaderTMY3 info that lists all values contained in the Bus. ReaderTMY3 info contains a list, is this a complete list or are these only the variables for which the user can choose the source (file, parameter or input)?

[2015-12-15 15:09] mlauster opened #377 "TBlaSky in ReaderTMY3"
TBlaSky is calculated in ReaderTMY3 but is not an output. However, it would be helpful to have TBlaSky for radiation calculations.

In addition, check fails if TBlaSkySou is set to Parameter:

![unbenanntes bild](https://cloud.githubusercontent.com/assets/6892690/11814279/28efe6b2-a346-11e5-9bce-2c6fe08bff3c.png)

[2015-12-15 15:49] mwetter commented on #375
Yes, this would be good to merge into the Annex60 repository.

[2015-12-15 19:07] mwetter commented on #376
I agree that such a list would be good to add to the reader. Can you please make the required changes to the documentation?
In addition, it would be good to group in `weaBus` variables that are similar. For example, it would be convenient if all temperatures are listed after each other rather than interspersed with other variables. Maybe this could be done by changes the order of the `connect` sta

[2015-12-15 20:03] mwetter commented on #377
@mlauster I mistakenly pushed the fix for this issue to the `master` instead of a development branch. The commit is https://github.com/iea-annex60/modelica-annex60/commit/187956ce680fc1d7594de13af7a6860118578ab4
Can you please verify whether this addresses your issue. All unit tests work fine.

[2015-12-15 22:39] Mathadon commented on #375
I'll need to look into it further since the proposed solution produces other problems.

[2015-12-16 11:25] mlauster commented on #377
Everything looks good so far. Both problems have been solved. Thanks!

[2015-12-16 11:25] #377 closed

[2015-12-17 00:43] mwetter commented on #372
@Mathadon : Can you please review my changes on the branch `issue372_CO2`.
I did the following
- corrected a bug in the mass fraction of which you used the inverse ratio. See also the regression tests `Fluid/Sensors/Examples/TraceSubstances.mo`
- refactored the volumes to avoid mixing assignments and connect statements in the mixing volume
- removed the unit of C, which in general need not be kg/s

[2015-12-17 09:13] Mathadon commented on #372
Please check https://github.com/iea-annex60/modelica-annex60/pull/378/files

I implemented your first suggestion. I am not sure how to implement the second suggestion?

[2015-12-17 15:10] carlesRT commented on #264
I reviewed the history of the model and It seems that the strange behaviours in the model began when we started to "mess" with the `spatialDistribution` operator when trying to solve the bump-effect. I think the best we can do is to go back, using a simple definition of `tau` and solve the bump-effect separately.

In my fork you will find a model, /Comparisons/SpatialDistributionOperator used to t

[2015-12-18 00:55] mwetter commented on #372
@Mathadon : I added units in 94af57e

- [ ] If you agree with the implementation, then we should also add `PPMTwoPort` and add it to the unit tests. Best would be to make a new unit test so that users can easily find it.

[2015-12-18 01:06] mwetter commented on #372
@Mathadon : Adding trace substances as an input should be done in `PartialMixingVolume` with conditionally enabled connectors as you suggested. This way, it will be available in `MixingVolume` and `MixingVolumeMoistAir`.  I don't like having `MixingVolume` and `MixingVolumeMoistAir`, but this was needed because `MixingVolumeMoistAir` requires `Medium.enthalpyOfLiquid` which is only available in mo

[2015-12-18 05:45] mwetter opened #379 "Update three way valves from Buildings library"
Move the updated files for https://github.com/lbl-srg/modelica-buildings/issues/475 from the Buildings library. These changes were required for OpenModelica.

[2015-12-21 16:16] mwetter commented on #314
Each library developer should add a branch `annex60_tank` for review on the future call.

[2015-12-21 16:22] mwetter commented on #300
In the last comparison, `regStep` was faster but this may have been due to the inlining. The next steps are
- [ ] implement the inlined function in a branch (if not done already)
- [ ] @marcusfuchs to repeat the benchmarks with both functions being inlined to compare the computing time. It seems that the benchmark code from Marcus is not yet on github
- [ ] compare the cpu time and merge the faste

[2015-12-23 21:00] mwetter commented on #310
@Mathadon
I revised your documentation. We should have a discussion on the next call where such documentation should best be. For `Buildings` we typically put such widely applicable information in the user guide http://simulationresearch.lbl.gov/modelica/userGuide/ which also has some information about pressure states (http://simulationresearch.lbl.gov/modelica/userGuide/workArounds.html#breaking-

[2015-12-29 13:44] marcusfuchs commented on #300
I added a Python script that compares `regStep`, `regStepInline`, `splice`, and `spliceInline` with 10 runs each in random order to the `bin` directory. For the `spliceInline` I changed the benchmark implementation to the one suggested by @Mathadon, and to me it seems like this one indeed gets inlined, while the former implementation was not inlined. The test I ran shows that `regStepInline` was f

[2016-01-04 08:12] Mathadon commented on #300
I think we have a clear winner :) Also I think that the actual computation time difference may be large than what is indicated by these box plots since there is a lot of overhead for compiling, initialisation, etc?

[2016-01-04 14:01] marcusfuchs commented on #300
I ran one test for total CPU time and, again, regStepInline was fastest:

![regstepvssplice](https://cloud.githubusercontent.com/assets/5516900/12090937/67f1dc96-b2f3-11e5-8c9e-46c2d3dd7d00.png)

[2016-01-04 15:59] mlauster commented on #376
I added a table with all possible outputs to ReaderTMY3.
Regarding the order of variables in weaBus, it seems that they are arranged in alphabetical order. So grouping is already quite okay, only `radHorIR` is not grouped with the other radiations as they are named `H...`. We could rename `radHorIR` to `HIRHor`, if `H` covers that kind of radiation.

Some variables seem to have no unit (at least n

[2016-01-04 19:35] Mathadon opened #381 "Airflow ducts"
We seem to miss (detailed) models for ducts, including things like bends, contractions, etc. Making models for each of these components and coupling them using connections seems cumbersome. Therefor I was thinking of making a single component that allows entering the parameters of multiple sequential (series) components in a flow network. For each component a `k` value can then be computed. These

[2016-01-05 02:08] mwetter commented on #376
@mlauster
I corrected some of your highlighted issues, but not yet "Declination" and "Output temperature", in 2ec7831.

I could go either way with `radHorIR`.

I don't know why `nOpa` has no units while `nTot` has units. I do not see a difference in implementation between the two.

[2016-01-05 11:55] mlauster commented on #376
@mwetter
Do you see a way to change "Declination" and "Output temperature"?
Then I propose changing `radHorIR` to `HIRHor`. Anybody fine with this? This might make it necessary to reconnect `ReaderTMY3` in high-level models if somebody used `radHorIR`. We are currently not using conversion scripts, do we?

[2016-01-05 14:50] #379 closed

[2016-01-05 14:59] Mathadon commented on #372
I'm currently a bit busy but I'll look into the two port later!

[2016-01-05 18:27] mwetter opened #382 "SolarGeometry.BaseClasses.Declination may use wrong value for nDay"
The model states nDay is the one-based day number in seconds, but at t=0, nDay=0 rather than nDay=86400. Either the documentation or the implementation is wrong.

[2016-01-05 19:11] mwetter commented on #376
@mlauster
The documentation string in the weather bus seems to be obtained from some output or input signal that is connected to the weather bus. For example, for the solar declination, if you change in `BaseClasses.ZenithAngle` the comment of the *input* signal `decAng`, then this will be reflected in the weather data bus. For other signals, it uses the output signal that is connected in the weat

[2016-01-05 19:24] mwetter commented on #300
- [ ] Yes, let's go with the inlined version of `regStep` and replace all uses of the `spliceFunction` except of course in `Annex60.Utilities.Math.Splice` and in `Annex60.Utilities.Math.Functions.splice`.

Maybe these two should be moved to `Obsolete` and instead implementations of `regStep` added as I don't see a situation where a user would want to use `spliceFunction` rather than `regStep`

- [

[2016-01-05 19:27] mwetter commented on #381
That should work. I suggest you also give the option to give as parameter the zeta values (and the diameter) as zeta values are often used for single resistances.

I assume you will provide a parameter for `zeta` and not for "number of bends" as two bends right next to each other have a larger zeta value than the sum of the individual bends (due to the turbulence).

I think @nytschgeusen did quite

[2016-01-06 05:19] mwetter opened #383 "expose commonly used option of bin/runUnitTests.py"
I often set the option for

* the number of processors,
* single packages to be validated, and
* batch mode
manually, which results in a change to `bin/runUnitTests.py`.

This issue is opened to revise this file so that these options can be specified as command line arguments.

[2016-01-06 05:51] mwetter commented on #383
I also added an option to only validate the html syntax, as this is useful when documenting models. The current implementation is as follows:
[code]

[2016-01-06 08:52] Mathadon commented on #156
Essentially we need a function `f` that satisfies:

[code]
with `deltas`, `deltax2` and `slope` parameters, but more importantly `m_flow_set` is a variable.

Therefore solving `f(x) = a + b*x^2 + c*x^4 + d * x^6` is not easy since its coefficients depend on `m_flow_set`. I had another look at it yesterday and I don't know how to solve this.

So far we have not had any problems with the current imp

[2016-01-06 12:39] mlauster commented on #376
Dymola even states where it gets units, description and arrow symbol from, see example. But it still seems to have no clear pattern. It might be some "shortest connection (min number of connect-statements) to weaBus that holds necessary information". I could ask Modelon for more information. Anyway, I'm also happy to keep it as it is and focus on other stuff.

I fixed units of nOpa, it originates

[2016-01-06 16:24] mwetter commented on #376
@mlauster If the comment is now picked up from `CheckRadiation`, then I see the only way to make a new protected block as I did for `Latitude` and use this instead of `CheckRadiation`.

I don't think there is much benefit in tracking down the rules for which description it picks up.

[2016-01-06 16:34] mwetter commented on #156
@Mathadon  I don't quite understand why solving `f(x) = a + b*x^2 + c*x^4 + d * x^6` is not easy. If I understand you right, then `x = m_flow_set`, `f(x)` is the pressure drop you want, and then, with the other 3 conditions, you have a linear system of equations for `a, b, c, d`? Maybe this is best solved by email in a LaTeX file.

I don't like to have "switches" to choose the implementation in ca

[2016-01-06 17:27] Mathadon commented on #156
I tested the implementation with `min` and it is ~15% slower!

[2016-01-06 23:59] mwetter commented on #382
The simplification of using a zero-based versus a one-based day-number has a very small effect. I added a validation model using data from http://www.esrl.noaa.gov/gmd/grad/solcalc/calcdetails.html and will issue a pull request.

[2016-01-07 00:27] mwetter commented on #382
The difference in result is as follows, which I think is acceptable:

![declination](https://cloud.githubusercontent.com/assets/1329080/12158819/5c47900c-b492-11e5-900f-6c58856b5292.png)

[2016-01-07 01:52] mwetter commented on #188
The problem was because the mixing volume was directly connected to the pressure source. This lead in `AirHeater_u` to a high index DAE which OpenModelica could not handle. Adding a pressure drop element between these two components avoid this high index DAE, and now all four test cases simulate in OpenModelica.

I also changed a few parameters to get more reasonable transient response.

[2016-01-07 14:29] #382 closed

[2016-01-07 15:15] #383 closed

[2016-01-08 19:34] #376 closed

[2016-01-09 02:17] mwetter commented on #156
@Mathadon : I merged your pull request and added two `fixme` in the code. See the code for the next steps/what is not yet clear.
Once the implementation is clear, it should be easy to replace the min and max with smooth approximations that have no over-shoot, using a similar approach as above.

[2016-01-11 12:50] Mathadon opened #390 "Custom substance/trace dynamics"
Currently we have in `LumpedVolumeDeclarations`:
[code]

can we remove the `final`? I want to be able to set steady state trace dynamics and dynamic energyDynamics and this is currently not possible.

[2016-01-11 16:46] mwetter commented on #390
In the current implementation, I made it `final` as I did not anticipate any benefit of selecting something else than for the energy balance. Do you really get faster simulation by selecting a different value? If so, then for `traceDynamics` removing the `final` is OK, a use case may be to add a dynamic energy balance to avoid algebraic loops on the energy and mass flow simulation but this may not

[2016-01-11 18:53] Mathadon commented on #390
In some cases the trace substance dynamics are the limiting factor for my Euler time step and since there is no parameter like `mSenFac` I can't play with that. So it would at least be convenient to have this option.

Now that we're looking at these parameters I was thinking if the comment could be made clearer. Currently we have:
[code]

I was thinking of something like:
[code]

[2016-01-11 19:45] mwetter commented on #390
@Mathadon This wording would be good, but please use the word "trace" in `Formulation of trace substance balance`.

 If you do the changes with a script, it would be useful if you can post the script as these parameters are propagated in various models that are not in Annex60, but in Buildings and probably also in IDEAS, AixLib and BuildingSystems.

[2016-01-11 22:13] Mathadon commented on #390
I pushed the changes to the existing pull request.

Note that I kept the wording `Type of substance balance` (Medium.Xi) since otherwise there is no distinction with the `Type of trace substance balance` (Medium.C).

The python script:
[code]
be sure not to include the .git directory as I do not know if the script may screw up that directory.

[2016-01-11 22:20] Mathadon commented on #390
I replaced `static` by `steady state` since this wording is more consistent with the `SteadyState` option.

[2016-01-12 09:21] Mathadon commented on #372
I think this is ready to be merged.

[2016-01-12 13:12] Mathadon commented on #314
I checked with Brecht. He has a Modelica implementation of a tank that seems to work very well. It explicitly takes into account the mixing introduced by jets instead of using a temperature inversion model.

I need to rework the code to be compatible with the Annex 60 base classes, which I probably won't have time for before february so I propose to postpone this meeting topic.

[2016-01-12 15:43] mwetter commented on #314
OK, we can cover this topic in February. I assume the model also takes into account mixing if you add warmer water at the bottom of the tank, which is not related to having a jet.

[2016-01-17 23:32] mwetter commented on #390
@Mathadon
I think you changed the wrong parameter. You removed the `final` from `substanceDynamics` but I thought you want to be able to change the dynamic balance for `C`, which is governed by `traceDynamics`.

I also changed the spelling to *initialization* to use consistent spelling within the library and with the MSL, and used *independent mass fraction* instead of *substance* to avoid the con

[2016-01-18 00:55] mwetter commented on #372
@Mathadon
I changed `use_C_flow_in` to `use_C_flow` as the connector is called `C_flow` and not `C_flow_in`.

Note that `Fluid.Sources` uses `C_flow_in`, but here I prefer to use `C_flow` as otherwise we would also need to change `Q_flow` to `Q_flow_in`. This apparent inconsistency with `Fluid.Sources` is in my view fine because `Fluid.Sources` uses also `C` as a parameter, which for these models

[2016-01-18 07:38] Mathadon commented on #372
I fixed a typo in `use_C_flow` in `Examples/PPM.mo`.
I used `tauInv` in the other sensors.

[2016-01-18 17:35] Mathadon opened #395 "FlowControlled movers with correct power computations"
I need a mover that sets the pressure head of a fan, but that still computes the electrical power consumption using similarity laws. This is currently not supported. I had another look at how this could be implemented and I think a fairly simple solution exists. To implement it properly it would however be best to merge `Annex60.Fluid.Movers.BaseClasses.SpeedControlled` with `Buildings.Fluid.Mover

[2016-01-19 09:30] Mathadon opened #396 "New, staged pump records"
I have some records for the Wilo TOP-S series (http://productfinder.wilo.com/en/COM/productrange/000000090002c94500020023/fc_range_description?lang=en&iwp%5B%5D=powertree-R-0).

These are staged pumps and it seems we have not foreseen a proper way of handling this in `Annex60.Fluid.Movers.Data.SpeedControlled_Nrpm`. In my opinion it should contain:
[code]

since it's a property of the pump.

I pro

[2016-01-19 17:32] Mathadon commented on #375
I'm not using JModelica any time soon so I won't fix this. Do we close this issue or leave it open?

[2016-01-19 17:39] mwetter commented on #375
I will close this until we are working on JModelica regression tests.

[2016-01-19 17:39] #375 closed

[2016-01-19 20:00] mwetter commented on #395
@Mathadon : I suggest you use the quick-and-dirty way for your project as this sounds like a larger reformulation if you need to change the base classes and ensure that the equation you need to invert always has a unique solution. It would probably take a while until this is properly reviewed as I have quite a backlog

[2016-01-19 22:21] mwetter commented on #396
I have the following comments in addition to the comments in the pull request (https://github.com/iea-annex60/modelica-annex60/pull/397/files)

- [ ] In `SpeedControlled_Nrpm`, the parameter `N_nominal` and `speeds` (which should be called `N`) should be assigned from the record `per` as they are a property of the pump.
- [ ]  The same should be done for `SpeedControlled_y` with `normalized_speed`

[2016-01-20 05:39] Mathadon commented on #396
Regarding your second suggestion: if we add parameter `n_nominal` then I think we should change the implementation of `speedControlled_y` since it currently assumes that the speed/efficiency/power curve is defined for `n_nominal=1`. The user may/should interpret the value of `n_nominal` as the normalised speed for which he/she provides the pump curves and not changing it may lead to wrong model us

[2016-01-20 05:40] Mathadon commented on #395
Okay, will do!

[2016-01-20 05:40] #395 closed

[2016-01-20 09:50] Mathadon opened #399 "PrescribedHeatFlow in PartialFlowMachine"
Buildings has its own `Buildings.HeatTransfer.Sources.PrescribedHeatFlow` that is used in `Buildings.Fluid.Movers.BaseClasses.PartialFlowMachine`. In Annex 60 this is not the case. What is the reason for this? I thought the models were merged?

The reason I ask is because the Buildings implementation is a lot more efficient in some cases. The is because the `PrescribedHeatFlow` from MSL has a non-

[2016-01-20 11:39] damienpicard commented on #353
As discussed in lbl-srg/modelica-buildings/issues/471, I did the following changes:
. Add a Carnot heat pump, and rename these models to Carnot_y (similarly than for the heater/cooler) to avoid a clash in names.
. remove actualStream in computing the states that are used to compute the Carnot efficiency.

I also added the example from the building library and i've updated the reference result.

I'

[2016-01-20 13:00] mlauster commented on #94
There is one last design decision open for the reduced order models: Indoor radiation exchange can be modeled with a delta or star network.
https://en.wikipedia.org/wiki/Star-mesh_transform
https://en.wikipedia.org/wiki/Y-%CE%94_transform
Star network is faster for high number of walls but includes a deviation for models with more than three walls.
Delta network is always exact but is slower for h

[2016-01-20 13:17] Mathadon commented on #94
Hey Moritz,

can you try setting ```Evaluate=true``` in Dymola for the delta network and see how this affects computational speed? Also have a look at the sizes of the linear algebraic loops when you do this :)

[2016-01-20 16:18] marcusfuchs opened #401 "Account for daylight saving time in time-series input data"
The time-switch to daylight saving time and back can cause a mismatch between input data and time-based schedules. This could be addressed in a model, but it needs to be discussed what a good solution would be.

[2016-01-20 16:32] Mathadon commented on #390
I did intend to change the `substanceDynamics`. It turns out that I can do without the option right now since the model becomes slower, so if you're still rather against the option we could drop it for now, but I think it's nice to have. :)

[2016-01-20 16:54] Mathadon commented on #399
Need to discuss with other library developers if we want to have a `HeatTransfer/Sources` package.

[2016-01-20 17:37] mwetter commented on #396
I suggest to

- [ ] make a list in the user guide that shows the different parameters such as `speed` and `speeds`. This will also help us to verify that a consistent naming is used for the four models.

[2016-01-21 13:57] mlauster commented on #94
If I use `Evaluate:=true`, then both models are nearly at the same speed, thanks, @Mathadon. So I still vote for delta network :)

[2016-01-21 16:53] mwetter commented on #94
I vote for the delta network in view of the same speed but higher accuracy.

[2016-01-21 18:50] Mathadon commented on #94
Delta is the better option I guess :)

[2016-01-21 19:48] rubenbaetens opened #402 "Annex60.Fluid.Infiltration"
While making some new models, something striked me.

In `Annex60.Fluid`, there is a wide variety of models. Some models are generic and are valid for both liquids such as water as well as gases such as air (e.g. a `FlowControl` can both be a fan and a pump). Some are very specific, such as `IdealMotor` and `StorageTank`.

As such, i was wondering if it wouldn't be more natural that the models that

[2016-01-21 23:00] mwetter commented on #402
The intent of the package was that at some point there will be
[code]
and I called it `Multizone` as most models are based on what is in the CONTAM multizone airflow and contaminant transport software. Eventually, it would be good to also have contaminant sources and deposition models in this package, at which point `Annex60.Fluid.Infiltration` would be a bad name. Also, `Annex60.Airflow.Multizone

[2016-01-22 07:48] rubenbaetens commented on #402
I don't really see the link between the argumentation(s) and the conclusion(s). We state that there is `Annex60.Airflow` because we intended at some point to (...) and this would imply that (...) but in fact we will nót because (...) asks too much maintenance. So eventually all reasons why there was originally a `Annex60.Airflow` are expired.

Note: Also models for contaminant sources could be val

[2016-01-22 15:57] mwetter commented on #402
@rubenbaetens : Thanks for pointing this out. I misstyped some package names and now edited the above post. Hopefully this is clear now.

[2016-01-22 18:58] mwetter opened #404 "SIUnit type of pressure differences"
Some pressure differences use the wrong type.
See https://github.com/iea-annex60/modelica-annex60/pull/403 and  https://github.com/UdK-VPT/BuildingSystems/issues/40

There are other related changes the need to be done and the revision notes need to be updated.

[2016-01-22 21:36] mwetter commented on #404
I also replaced `Modelica.SIunits.Pressure` with `Modelica.SIunits.PressureDifference` for variables that are used for pressure differences. These are type equivalent, as the MSL implements
[code]
However I think it is clearer for users to see `PressureDifference` if it is a difference rather than a pressure.

I also set `displayUnit="Pa"` because the MSL implements
[code]
and bar is not practical

[2016-01-22 21:49] mwetter commented on #390
I am more in favor for not exposing `substanceDynamics` and rather use `final substanceDynamics = energyDynamics` as we have now. The justification for this is that if a volume is large enough to warrant having a dynamic energy balance, then the moisture that is brought into this volume by the air flow should also be dynamic, and vice versa.

In fact, during the revisions, I was thinking why not e

[2016-01-22 22:11] mwetter commented on #399
For `Buildings`, it would be good to have `Annex60.HeatTransfer.Sources`.
What is the position of Aachen and Berlin?

[2016-01-23 00:18] mwetter commented on #372
I further revised the models to fix a previously broken unit test, in particular with commit 360a991. The issue was that the moisture was no longer added to the conservation equations in `Annex60.Fluid.Interfaces.StaticTwoPortConservationEquation` because `m_flowInv=0`.
This required the following **backwards incompatible change:**

In `Annex60.Fluid.Interfaces.StaticTwoPortConservationEquation`,

[2016-01-23 08:05] Mathadon commented on #390
It makes sense that `substanceDynamics` and `energyDynamics` are closely related, but that is what we have the default value for. In my opinion the models should be reconfigurable such that when someone (for god knows what reason) needs to change the the dynamics individually, this is possible. But I understand that having another dynamics parameter may be confusing to some users.. I would therefo

[2016-01-23 08:17] Mathadon commented on #399
I think setting `final alpha=0` would be a good alternative solution that does not require the creation of another top level package.

[2016-01-23 08:20] Mathadon commented on #372
I'd like to review this change, hopefully next week!

[2016-01-25 19:43] #404 closed

[2016-01-26 15:55] #188 closed

[2016-01-27 03:13] mwetter opened #408 "Correct wrong Modelica syntax"
Some classes contain Modelica syntax that is not valid and does therefore not compile with JModelica. This issue is to correct these problems.

Also some units, primarily in `Sensors` and `Sources` are not set, which will also be corrected on this branch.

[2016-01-27 05:47] mwetter commented on #353
@damienpicard
I will also integrate the `Chiller.Carnot_TEva`, `HeatPumps.Carnot_TCon` and `HeatPumps.Carnot_y`.

I will also correct the COP computation so that the useful heat is the heat of the evaporator for the chiller, and the heat of the condenser for the heat pump.

To eliminate code duplication, I will refactor that `Chiller.Carnot_y` so that it uses a base class that can also be shared b

[2016-01-28 20:27] #408 closed

[2016-01-30 01:48] mwetter commented on #353
The above models have been integrated and documented. The following still needs to be done:

-  [ ] Review the examples and validation cases, and make sure P, QCon_flow and QEva_flow are plotted.
- [ ] Add validation cases in which the evaporator or condenser heat flow rate are limited.
- [ ] Add validation cases in which the evaporator temperature is higher than the condenser temperature to see w

[2016-02-01 11:18] mlauster commented on #399
From Aachen side, I don't think we need such a package.

[2016-02-03 08:14] mlauster commented on #372
Merged with #393

[2016-02-03 08:14] #372 closed

[2016-02-10 08:47] rubenbaetens opened #411 "Obsolete dynamicBalance parameter"
Some models (e.g. `Fluid.Movers.FlowControlled_m_flow`) still have a parameter `dynamicBalance` which overwrites `energyDynamics` and `massDynamics` if false.

I think the parameter is still there to be backwards compatible with older versions of the `Annex60` library, but it's my personal opinion that, as long as there is no official release version of the library, backwards compatibility should

[2016-02-10 08:48] Mathadon commented on #411
+1 :)

[2016-02-11 05:13] mwetter commented on #411
I am in favor of removing `dynamicBalance` as I think it is clearer to simply have `energyDynamics`  and `massDynamics` rather than having a parameter overwrite the functionality of another parameter.

I will assign it to @rubenbaetens . Please also update the release notes of the models.

(I however think we should be careful to have backwards compatibility where meaningful as `Buildings` and may

[2016-02-11 07:34] rubenbaetens commented on #411
We also plan to have a non-backward compatible release of `IDEAS` next month, so perfect timing here.

[2016-02-11 19:17] rubenbaetens commented on #411
Following models still contain the `dynamicBalance` parameter:

- [ ] `Annex60.Fluid.Movers.BaseClasses.PartialFlowMachine`
- [ ] `Annex60.Fluid.BaseClasses.PartialThreeWayResistance`

[2016-02-12 15:06] marcusfuchs opened #413 "Images for Wiki"
![libraries05](https://cloud.githubusercontent.com/assets/5516900/13010524/843ce2d8-d1a2-11e5-9d81-a7219e6489b3.png)

[2016-02-12 15:06] marcusfuchs commented on #413
sorry this was meant for the AixLib Wiki!

[2016-02-12 15:06] #413 closed

[2016-02-15 08:49] bramvdh91 commented on #264
I have fixed the DoublePipe model, see pull request #414 for a discussion on using only one of the two ``Medium`` and ``allowFlowReversal`` parameters in ``PartialFourPort``.

[2016-02-18 06:00] mwetter commented on #396
@Mathadon I refactored the models, in particular the choice of parameter names which are now `speed` or `speed_rpm`, and `speeds` and `speeds_rpm`. Can you please have a look at it?

I also removed `{y,N,m_flow,dp}_filtered` as I don't see there is any use for these outputs. One can get their values from the output signal `{y,N,m_flow,dp}_actual`.

For `SpeedControlled_{y,Nrpm}`, I moved all perfo

[2016-02-18 09:03] Mathadon commented on #396
@mwetter I agree with
- the new parameter names,
- the removal of `_filtered` outputs,
- moving performance data into the records,
- leaving the artificial parameter values in the mover models.

The different regression test results are probably caused by the fact that you assign `speed_rpm_nominal= speeds_rpm[size(speeds_rpm, 1)]`. Since in `MoverParameter` you redeclare `redeclare Annex60.Fluid.

[2016-02-18 11:01] marcusfuchs opened #416 "Add analyses of air benchmark"
So far, the airflow benchmark has not been put to use. I have added a Python script that simulates the scalable benchmark to see how the CPU time depends on the problem size. As a first result, I obtained this:
![airbenchmarkscaling](https://cloud.githubusercontent.com/assets/5516900/13141336/19e4ff1c-d637-11e5-8bf0-dd2439be56eb.png)

I hope we can use this issue to discuss how to proceed with the

[2016-02-18 11:19] Mathadon commented on #416
It would be useful to have a similar plot that plots the maximum/largest non-linear system size after reduction.. I expect there will be a large correlation between the two plots.

[2016-02-18 14:47] marcusfuchs commented on #416
I agree. These may be the things for which such a scalable benchmark could be useful. I can add such a plot and another one for CPU time over system size.

[2016-02-18 23:06] mwetter commented on #396
In 7f331dd  I added `speed_nominal` and `speed_rpm_nominal` back to the data record, and use them in `gaiSpe` to normalized the input signal.
I also use them for the default values for `speeds` and `constant_speed`.

All unit tests now produce the same results as before the change.

[2016-02-19 06:10] Mathadon commented on #396
Fixed in #397

Thanks!

[2016-02-19 06:10] #396 closed

[2016-02-19 06:13] Mathadon commented on #247
Could discuss this during today's meeting!

[2016-02-19 12:52] damienpicard commented on #353
@mwetter notice that `Annex60.Fluid.Interfaces.FourPortHeatMassExchanger` is still not used in the `Annex60` library, as the implementation of the the `Carnot` model extends now `PartialFourPortInterface` instead of `FourPortHeatMassExchanger`.

[2016-02-19 15:36] mwetter opened #417 "refactor .Movers to use blocks rather than multiple inheritance"
This is to see how to refactor the `.Movers` models to
- avoid multiple inheritance of partial classes
- conform to the coding convention to not mix textual and graphical equations in the same class

[2016-02-19 15:58] Mathadon commented on #417
I think this is the boldest and most heroic issue in Annex 60 history!

[2016-02-19 16:24] mwetter commented on #390
I will revert the changes based on the web conference discussion.

[2016-02-19 16:46] Mathadon commented on #247
I should try the following: create a public output U of the protected model and then assign the value in the higher level model.

[2016-02-19 16:47] mwetter commented on #402
@rubenbaetens shall we close this?

[2016-02-19 17:56] mwetter commented on #417
I wouldn't attempt it without having so many unit tests in place to check that it will be done correctly...

[2016-02-19 21:02] Mathadon commented on #247
I created outputs `m`, `mC`, `mXi` and `U` for `MixingVolume`. In my opinion it makes sense to output these variables since these quantities is all what the model is about.

[2016-02-19 21:08] Mathadon commented on #247
Todo:

- check documentation
- check quantities and units
- explain unit test difference

[2016-02-20 08:21] #402 closed

[2016-02-22 23:51] mwetter commented on #390
I made a new branch `issue390_substancedynamics_refactored` to revert the changes. This is based on the current `master`.

For c72c807, I applied the following script:
[code]

[2016-02-23 09:41] mlauster commented on #94
@Mathadon, I set `Evaluate:=true` as command in the command line. Did you actually mean to set it as annotation for some parameter or model instances? Is this in some way similar? I would like to permanently implement `Evaluate:=true` in my model as the user won't intuitively set it this way. Do you know a way how to do it? If both ways are similar, for which parameter or model instances do I need

[2016-02-23 10:59] damienpicard commented on #94
@mlauster for all the parameters that you want to evaluate, use annotation(Evaluate=true); (See Dymola documentation V1, p284 (Evaluate group).

[2016-02-23 13:21] Mathadon commented on #94
You have to set `Evaluate=true` in the annotation of all parameters that are used in the linear algebraic loop that is formed by the star point in the RC model, if you want to get the same computation speed.
There is no way to force Evaluate=true in the command line for a model. The user needs to set this :)

[2016-02-24 16:04] mwetter opened #422 "add borefield model"
This issue is to implement the borefield model of @damienpicard which is needed for `IDEAS` and `Buildings`. If interesting for other libraries, we can discuss to move it to the `master` when it is finished/cleaned up.

[2016-02-25 01:03] mwetter opened #423 "revert change in line endings for Annex60/Fluid/Types.mo"
Commit 8300ac39a7e7e1ca67b4086c41246fa3ac34dff2 changed the line endings to CLRF which shows up strange in diffs for `Buildings`. This issue is to revert the change in file endings by running
[code]

[2016-02-25 08:24] mlauster commented on #94
Thanks, @damienpicard and @Mathadon! That helped. Anyway, the algebraic loop is connected to upper level models, so the user needs to enable it himself if he would like to achieve top speed.
@Mathadon, how and where do you get this nice overview over the system of equations as in your Modelica paper?

![unbenanntes bild](https://cloud.githubusercontent.com/assets/6892690/13313853/6e85b6a0-dba1-11e

[2016-02-25 08:27] Mathadon commented on #94
It’s in the translation log, under ‘Statistics’

[2016-02-25 13:25] Mathadon commented on #417
In #425 I did some further refactoring.

In terms of functionality:
- we can now also compute the electrical power consumption correctly when using `FlowControlled_*` movers

In terms of code:
- I integrated `FlowMachineInterface` and `EfficiencyInterface`, which were therefore moved into `PartialFlowMachine`
- I removed the `FlowMachine` record since it only contains efficiency parameters. These

[2016-02-25 17:31] mwetter commented on #417
@Mathadon
What are you doing in `FlowMachine_*` if `SpeedControlled_y` is used, but the input signal for `dp` or `m_flow` is such that the operating point is not on the pump curve? I think your approach is currently flawed as it can give combinations of (dp, V_flow) that are outside the valid regions. Or do you adjust the speed then? Please explain in the documentation so I (and others) understand

[2016-02-26 16:36] damienpicard commented on #422
@mwetter I uploaded the code on the branch #issue422_borefield.

[2016-03-01 15:54] Mathadon commented on #417
1)
I do indeed adjust the speed accordingly. This introduces a non-linear algebraic loop of 1 variable after reduction if this option is used, which is not the case by default.
I prefer to update the documentation once we agree on an implementation. I think I clearly described my changes above.

2)
I can see why you would want that, but with the old implementation this means that the efficiency is

[2016-03-02 07:29] Mathadon commented on #390
Fixed in #421

[2016-03-02 07:29] #390 closed

[2016-03-02 08:53] #423 closed

[2016-03-03 10:40] bramvdh91 commented on #264
Currently, the pipe models take an ambient temperature input in Celsius only. Regarding integration with simulation info managers, it would be interesting to make this a real temperature value, since if Kelvin is supplied as an input, the heat losses are wrong (i.e. heat gains).

In my latest commit, I have implemented a method which I believe is a bit more robust than the current calculations usi

[2016-03-04 14:08] Mathadon commented on #314
The code I'm working on is in:
https://github.com/Mathadon/modelica-annex60/tree/issue314_storageTank
there however seems to be a bug in the model, which I've thus far been unable to track..

[2016-03-11 07:36] mwetter opened #428 "Consider using Q-IDENT names for movers"
Currently, we have pump data such as
[code]

The ugly name `*slash*to*` is because
[code]
is not valid.

We could have used the more readable version
[code]
Then, an instantiation would change from
[code]
to
[code]

This issue is to discuss whether we want to use the form `record 'Stratos30/1-8'` for `Annex60.Fluid.Movers.Data.Pumps.Wilo`.

[2016-03-11 09:54] carlesRT commented on #314
Hi, I added in the branch https://github.com/carlesRT/modelica-annex60/tree/Annex60_tank_review
the storage tank model we currently have in the BuildingSystems library, <code>StratifiedStorage</code>. It is a relatively simple model, discretized volume in vertical direction with heat conductivity between layers + buoyancy model ("Rule-based demand side management..." Leuven).

It is quite difficul

[2016-03-12 04:35] mwetter opened #429 "Example SimpleHouse has wrong limits for hysteresis controller."
The controller `hysAir` has limits such that `uLow > uHigh`.
MSL 3.2.2 will through an assertion error.

[2016-03-12 04:49] mwetter opened #431 "Use the titles in the documentation according to the style guide"
The model `Annex60/Fluid/Actuators/BaseClasses/PartialTwoWayValve.mo` uses a different title than what is specified in the style guide.

[2016-03-12 21:31] mlauster commented on #94
Ok, from my side the Reduced Order Models and all auxilliary models are ready to review! I added documenation, unit tests, examples and validation cases and did all points we discussed in Leuven. @mwetter , could you please review the package, keep an eye on naming and decide where to put the package? I would propose to put `ThermalZones` as new "top-level" package in Annex60.
The current code is

[2016-03-13 23:22] mwetter commented on #428
Based on Fridays' teleconference, this should not be an issue to support in IDA/ICE.

We still need to check if OpenModelica and JModelica can handle it.

[2016-03-14 05:41] Mathadon commented on #428
Sounds like a good change!

[2016-03-14 05:47] #431 closed

[2016-03-14 13:33] #429 closed

[2016-03-15 10:10] #417 closed

[2016-03-15 10:12] mlauster commented on #399
closed by #420

[2016-03-15 10:12] #399 closed

[2016-03-15 17:23] mwetter opened #433 "Annex60.Controls.Continuous.LimPID triggers events when it saturates"
`Annex60.Controls.Continuous.LimPID` triggers events when the output limiter becomes active.
This considerably slows down the simulation of `Buildings.Examples.DualFanDualDuct`, and probably of other models as well. These events can be avoided by setting `strict=true`.

The code that is affected by this change is in the limiter of the MSL,
[code]
This issue is to see if we should set `strict=true`

[2016-03-15 23:57] mwetter commented on #300
@marcusfuchs : I started implementing your changes. I merged the relevant 3 files (not the benchmarks) to a new branch called `issue300_regStep_integration` and renamed `regStepInline` to `regStep`. I am now testing the new code.

[2016-03-16 00:06] mwetter commented on #300
In some cases, nonlinear equations are replaced by linear equations after using `regStep`.

[2016-03-16 13:14] Mathadon commented on #433
My overall experience is that this is indeed a better implementation.

[2016-03-16 13:25] Mathadon commented on #411
Closed in #412

[2016-03-16 13:25] #411 closed

[2016-03-17 15:54] mwetter opened #435 "Reduce nonlinear system of equations in radiator model"
In Dymola 2016 FD01, the nonlinear system of equation for the radiator model `RadiatorEN442_2` increased compared to Dymola 2016. An isssue has been filed with dassault. This ticket is to implement a work-around received from Dassault.

[2016-03-17 16:41] mwetter commented on #435
The commit 223a8090ce46bf20f9221933335ead2c2f0e7928 changes the statistics as follows:
Before the change
[code]
After the change
[code]